﻿@{
    ViewBag.Title = "Sales Agent";
}


<style type="text/css">
    .th {
        color: white;
    }
</style>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        @*<ol class="breadcrumb">

            <li class="breadcrumb-item active">Sales Agent</li>
        </ol>*@

        <div class="row">
            <div class="col-sm-3">
                <a href="@Url.Action("AddSales","Admin")"> <button type="button" class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ADD SALES AGENT</button></a>
            </div>
            <div class="col-sm-9">
            </div>
        </div>
        <hr />
        <table id="list2" class="cell-border" cellspacing="0" width="100%">
            <thead>
                <tr style="  color:white;background-color:rgba(52, 73, 94, 1);">
                    <th>Email ID </th>
                    <th>Name </th>
                    <th>Mobile</th>
                    <th>Created On</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>



        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end this session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript">
    $(document).ready(function () {
        var i = 1;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/SalesAgents/GetGridData/",
            success: function (data) {
            var result = $('#list2').DataTable(
                {
                    "destroy": true,
                    "processing": true,
                    "serverSide": false,
                    "searching": true,
                        "data": data.Data,
                        "columns": [
                            { "data": "EmailId" },
                            { "data": "Name" },
                            { "data": "Mobile" },
                            //{ "data": "CreatedOn" },
                            {
                                "data": "CreatedOn",
                                "type": "date ",
                                "render": function (value) {
                                    if (value === null) return "";

                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));

                                    return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                                }
                            },
                              {
                                "data": null,
                                "render": function (data, type, row) {
                                    var editUrl = '@Url.Action("EditAgent", "Admin")/' + data.Id;
                                    var deleteUrl = '@Url.Action("DeleteAgent", "Admin")/' + data.Id + '?idQS=' + data.Id;
                                    return '<a href=\"' + editUrl + '\"> <span class=\"glyphicon glyphicon-edit\"></span></a> &nbsp;&nbsp;&nbsp; <a href=\"' + deleteUrl +'\"> <span class=\"glyphicon glyphicon-trash\"></span></a>';
                                }
                            },
                        ]
                    }); 

            }
        } );

    });

</script>