﻿@model SNS.ViewModels.CustomersVM
@{
    ViewBag.Title = "Index";
    ViewBag.Category = new List<string> { "Exhibitor" };
    //Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}




@*<div class="modal video-modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="uscNumber">
    <div class="modal-dialog" role="document">
        <div class="modal-content">*@




<div class="modal-header">
    Signing Up with USC
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<section>
    <div class="modal-body">
        <div class="w3_login_module">
            <div class="module form-module">
                <div class="toggle">
                    <i class="fa fa-times fa-pencil"></i>
                </div>
                <div class="form">
                    <h3>Exhibitor Details</h3>
                    <input type="text" name="TheatreName" placeholder="Theatre Name" readonly value="@Html.DisplayFor(model => model.TheatreName)">
                    <input type="text" name="TheatreAddress" placeholder="Theatre Address" readonly value="@Html.DisplayFor(model => model.Address)">


                    @using (Ajax.BeginForm("GenerateOTPnow", "Customer", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { role = "form" }))
                    {
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "txtEmailId", @placeholder = "EmailID", @value = "@Html.DisplayFor(model => model.Email)" } })

                        <input type="submit" name="btnRequestOTP" id="btnRequestOTP" value="Request OTP" class="btn btn-primary" />
                    }


                    @*@using (Html.BeginForm("VerifyOTP", "Admin", FormMethod.Get, new { role = "form" }))
                        {
                            @Html.TextBoxFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)

                            <input type="submit" name="VerifyOTP" value="Verify Account" class="btn btn-success " data-toggle="modal" data-target="#createLoginWithUSC" />

                        }*@

                    @*@using (Html.BeginForm("VerifyOTPnow", "Admin", FormMethod.Get, new { role = "form" }))
                        {*@
                    <input type="hidden" id="txtHidden" />
                    <input type="text" placeholder="Enter OTP" id="txtOTPInput" />
                    @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "txtOtp", @placeholder = "ENTER OTP" } })*@
                    <p style="color:red" id="errorMsg"></p>
                    <input type="submit" name="btnVerfiyOTP" value="Verify OTP" class="btn btn-success VerifyAccount f1" data-toggle="modal" data-target="#createLoginWithUSC" />
                    @*}*@

                </div>
                <div class="form">
                    <h3>Exhibitor Log-in Creation</h3>
                    @*<form action="#" method="post">*@

                    @using (Html.BeginForm("SaveCredentials","Customer",FormMethod.Post))
    {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.USC, htmlAttributes: new { @class = "" })
                    <div class="">
                        @Html.EditorFor(model => model.USC, new { htmlAttributes = new { @class = "form-control",@value= "@Html.DisplayFor(model => model.USC)" } })
                        @Html.ValidationMessageFor(model => model.USC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "" })
                    <div class="">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                    <div class="">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "" })
                    <div class="">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.TheatreName)
                        @Html.HiddenFor(model => model.Category)
                        @Html.HiddenFor(model => model.Address)
                        @Html.HiddenFor(model => model.Country)
                        @Html.HiddenFor(model => model.State)
                        @Html.HiddenFor(model => model.City)
                        @Html.HiddenFor(model => model.Zip)
                        @Html.HiddenFor(model => model.TheatreType)
                        @Html.HiddenFor(model => model.ScreenCount)
                        @Html.HiddenFor(model => model.TicketPrice)
                        @Html.HiddenFor(model => model.Email)
                        @Html.HiddenFor(model => model.Mobile)
                        @Html.HiddenFor(model => model.CreatedOn)
                        @Html.HiddenFor(model => model.UpdatedOn)

                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" value="SaveCredentials" class="btn btn-default" />
                    </div>
                </div>
}

                    @*<input type="text" name="InsertUSC" id="txtUSCInput" placeholder="Insert USC" value="@Html.DisplayFor(model => model.USC)" readonly>
                    <input type="text" name="Username" id="txtUsername" placeholder="Username">
                    <i id="un_msg" style="color:blue"></i>
                    <input type="password" name="Password" id="txtPassword" placeholder="Password" />
                    <input type="password" name="ConfirmPassword" id="txtConfirmPassword" placeholder="Confirm-Password" />
                    <input type="button" id="CreateLogin" value="Create Login" class="btn btn-default" /><br /><i id="pswd_msg" style="color:red"></i>*@

                </div>
            </div>

        </div>
    </div>
</section>


<script>

    $('.f1').click(function () {
        var generatedOTP = $('#txtHidden').val();
        var inputOTP = $('#txtOTPInput').val();
        if (generatedOTP == inputOTP) {
            $(this).children('input[type="submit"]').toggleClass('VerifyAccount');
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        }
        else {
            $("#errorMsg").html("Wrong Password. Try again!!");
        }
    });


    function findUserAccount(val) {
        //var un = $('#txtUsername').val();
        $.ajax({
            url: '/Customer/FindUser',
            type: 'GET',
            dataType: 'text',
            data: {
                username: val
            },
            success: function (data) {
                $("#un_msg").html("Username unavailable");
                $('#txtUsername').focus();
                return false;
            },
            error: function () {
                $("#un_msg").html("Username Available");
                return true;
            }
        });
    };

    function PasswordMatch(p1, p2) {

        if (p1 == p2) {
            $('#pswd_msg').html("");
            return true;
        }
        else {
            return false;
        }
    };

    $('#CreateLogin').click(function () {
        // debugger;
        var p1 = $('#txtPassword').val();
        var p2 = $('#txtConfirmPassword').val();
        var txtUNInput = $('#txtUsername').val()
        var txtCodeInput = $('#txtUSCInput').val();
        if (findUserAccount(txtUNInput)) {
            if (PasswordMatch(p1, p2)) {
                $.ajax({
                    url: '/Customer/SaveCredentials',
                    type: 'POST',
                    datatype: 'text',
                    data: { usc: txtCodeInput, un: txtUNInput, pwd: p1, cpswd: p2 },
                    success: function (data) {
                        $('#pswd_msg').html(data.response);
                    },
                    error: function () {
                        $('#pswd_msg').html(data.response);
                    }
                });
            }
            else {
                $('#pswd_msg').html("Password Mismatch");
                $('#txtConfirmPassword').focus();
            }
        }
    });


            //$('.f1').click(function () {
            //    var OTPModel = { Password: $('#txtHidden').val() };
            //    $.ajax({
            //        url: '/Customer/VerifyOTPnow',
            //        type: 'GET',
            //        dataType: 'text',
            //        data: {
            //            OTPModel: OTPModel
            //        },
            //        success: function (data) {
            //            alert("accepted");
            //            // Switches the Icon
            //            $(this).children('input[type="submit"]').toggleClass('VerifyAccount');
            //            // Switches the forms
            //            $('.form').animate({
            //                height: "toggle",
            //                'padding-top': 'toggle',
            //                'padding-bottom': 'toggle',
            //                opacity: "toggle"
            //            }, "slow");
            //        },
            //        error: function () {
            //           $("#errorMsg").html("Wrong Password. Try again!!");
            //        }
            //    });
            //});
</script>

