﻿@model SNS.ViewModels.AboutTechnologyVM




<div class="form-title-row" align="center">
    <h1>About Technology</h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-5">
            Present Screening System
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6" align="left">
            <input type="radio" name="ScreeningSystem" value="Analogue"> Analogue<br />
            <input type="radio" name="ScreeningSystem" value="Digital"> Digital
            <!-- @Html.CheckBoxFor(model => model.ScreeningSystem, new { htmlAttributes = new { @class = "checkbox" } })-->
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Interest in Digital
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6" align="left">
            <input type="radio" name="IntrestInDigital" value="Yes"> Yes<br />
            <input type="radio" name="IntrestInDigital" value="No"> No
            <!-- @Html.CheckBoxFor(model => model.InterestInDigital, new { htmlAttributes = new { @class = "checkbox" } }) -->
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Why? (If NO)
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            @Html.EditorFor(model => model.BookingSystem, new { htmlAttributes = new { @class = "checkbox" } })
        </div>
    </div>
    <br />



    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Which Company? (If YES)
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <form>
                <select name="company">
                    <option value="abc">abc</option>
                    <option value="def">def</option>
                    <option value="ghi">ghi</option>
                    <option value="jkl">jkl</option>
                </select>
            </form>
        </div>
    </div>
    <br />



    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Type Of Back End (If YES)
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <form>
                <select name="BackEnd">
                    <option value="Internal">Internal</option>
                    <option value="External">External</option>
                    <option value="Cloud">Cloud</option>
                </select>
            </form>
        </div>
    </div>
    <br />




    <div class="row">
        <div class="col-xs-5">
            Ticket Booking System
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <form>
                <select name="BackEnd">
                    <option value=" Manual Chart"> Manual Chart</option>
                    <option value=" BMS"> BMS</option>
                    <option value=" In-house Digital"> In-house Digital</option>
                </select>
            </form>
            <!--  @Html.EditorFor(model => model.BookingSystem, new { htmlAttributes = new { @class = "checkbox" } })-->
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Accepted Payment type
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6" align="left">
            <input type="radio" name="PaymentType" value="CashOnly">     Cash Only<br />
            <input type="radio" name="PaymentType" value="AcceptCard">   Accept Card<br />
            <input type="radio" name="PaymentType" value="Online">       Online

            <!--   @Html.EditorFor(model => model.PaymentType, new { htmlAttributes = new { @class = "checkbox" } })-->
        </div>
    </div>
    <br />
</div>

<input type="button" name="previous" class="previous action-button" value="Previous" style="height:46px;width:80px" />&nbsp;
<input type="button" name="next" class="next action-button" value="Save & Continue" style="height:46px;width:150px" />


