﻿@model SNS.ViewModels.AboutLocalInsightVM


<div class="form-title-row">
    <h1>About Local Insights</h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-5">
            Successful Genres
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            @Html.EditorFor(model => model.SuccessfulGenres, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Best Release Period
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <input type="date" name="BestReleaseDate">
            <input type="date" name="BestReleaseDate">

            <!--   @Html.EditorFor(model => model.BestReleasePeriod, new { htmlAttributes = new { @class = "form-control" } })-->

        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-xs-5">
            Worst Release Period
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <input type="date" name="WorstReleaseDate">
            <input type="date" name="WorstReleaseDate">
            <!--  @Html.EditorFor(model => model.WorstReleasePeriod, new { htmlAttributes = new { @class = "form-control" } })-->

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            List Successful Stars
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <form>
                <select name="company">
                    <option value="abc">abc</option>
                    <option value="def">def</option>
                    <option value="ghi">ghi</option>
                    <option value="jkl">jkl</option>
                </select>
            </form>
            <!--  @Html.EditorFor(model => model.ListSuccessfulStar, new { htmlAttributes = new { @class = "form-control" } })-->

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            About Regional Films
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="intresetlevel" placeholder="Intreset Level" name="intresetlevel" data-toggle="tooltip" data-placement="top" title="Please fill out your intreset level">
                <input type="text" class="form-control" id="profitability" placeholder="Profitability" name="profitability" data-toggle="tooltip" data-placement="top" title="Please fill out your profitability">
                <input type="text" class="form-control" id="distributionissues" placeholder="Distribution Issues" name="distributionissues" data-toggle="tooltip" data-placement="top" title="Please fill out your distributionissues">
            </div>
            <!-- @Html.EditorFor(model => model.AboutRegionalFilms, new { htmlAttributes = new { @class = "form-control" } })-->

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 control-label">
            About English Films
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="intresetlevel" placeholder="Intreset Level" name="intresetlevel" data-toggle="tooltip" data-placement="top" title="Please fill out your intreset level">
                <input type="text" class="form-control" id="profitability" placeholder="Profitability" name="profitability" data-toggle="tooltip" data-placement="top" title="Please fill out your profitability">
                <input type="text" class="form-control" id="distributionissues" placeholder="Distribution Issues" name="distributionissues" data-toggle="tooltip" data-placement="top" title="Please fill out your distributionissues">
            </div>
            <!--  @Html.EditorFor(model => model.AboutEnglishFilms, new { htmlAttributes = new { @class = "form-control" } })-->

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            About Dubbed Films
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="intresetlevel" placeholder="Intreset Level" name="intresetlevel" data-toggle="tooltip" data-placement="top" title="Please fill out intreset level">
                <input type="text" class="form-control" id="profitability" placeholder="Profitability" name="profitability" data-toggle="tooltip" data-placement="top" title="Please fill out profitability">
                <input type="text" class="form-control" id="distributionissues" placeholder="Distribution Issues" name="distributionissues" data-toggle="tooltip" data-placement="top" title="Please fill out distributionissues">
            </div>
            <!-- @Html.EditorFor(model => model.AboutDubbedFilms, new { htmlAttributes = new { @class = "form-control" } })
            <input type="text" /> <input type="text" />-->
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Unique Case
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="surprisinghit" placeholder="Surprising Hit" name="surprisinghit" data-toggle="tooltip" data-placement="top" title="Please fill out surprising hit">
                <input type="text" class="form-control" id="flopfilm" placeholder="Flop Film" name="flopfilm" data-toggle="tooltip" data-placement="top" title="Please fill out flopfilm">
            </div>
            <!-- @Html.EditorFor(model => model.UniqueCases, new { htmlAttributes = new { @class = "form-control" } })-->
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Business Insight
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="existingchallenges" placeholder="Existing Challenges" name="existingchallenges" data-toggle="tooltip" data-placement="top" title="Please fill out existing challenges">
                <input type="text" class="form-control" id="potentialsolutions" placeholder="Potential Solutions" name="potentialsolutions" data-toggle="tooltip" data-placement="top" title="Please fill out potentialsolutions">
            </div>
            <!-- @Html.EditorFor(model => model.BusinessInsight, new { htmlAttributes = new { @class = "form-control" } })-->
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Future Assessment
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="existingchallenges" placeholder="Existing Challenges" name="existingchallenges" data-toggle="tooltip" data-placement="top" title="Please fill out existing challenges">
                <input type="text" class="form-control" id="potentialsolutions" placeholder="Potential Solutions" name="potentialsolutions" data-toggle="tooltip" data-placement="top" title="Please fill out potentialsolutions">
            </div>
            <!-- @Html.EditorFor(model => model.FutureAssessment, new { htmlAttributes = new { @class = "form-control" } })-->
        </div>
    </div>
    <br />
</div>
<input type="button" name="previous" class="previous action-button" value="Previous" style="height:46px;width:80px" />
<input type="button" name="next" class="next action-button" value="Save & Continue" style="height:46px;width:150px" />

