﻿@model SNS.ViewModels.AboutOtherThingsVM

<div class="form-title-row">
    <h1>About  Other Things</h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-5">
            About Publicity
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id=" inputonpublicityexpense" placeholder=" Input on Publicity Expense" name="inputonpublicityexpense" data-toggle="tooltip" data-placement="top" title="Please fill out input on publicity expense">
                <input type="text" class="form-control" id="property&publicityManagementonsite" placeholder="Property&PublicityManagementOnSite" name="property&publicityManagementonsite" data-toggle="tooltip" data-placement="top" title="Please fill out property & publicity Management on site">
            </div>
            <!-- @Html.EditorFor(model => model.AboutPublicity, new { htmlAttributes = new { @class = "form-control" } })-->
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            About Posters
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="postersourcing" placeholder="Poster Sourcing" name="postersourcing" data-toggle="tooltip" data-placement="top" title="Please fill out poster sourcing">
                <input type="text" class="form-control" id="cost" placeholder="cost incurred & to whom & how is it billed?" name="flopfilm" data-toggle="tooltip" data-placement="top" title="Please fill out cost incurred & to whom & how is it billed?">
            </div>
            <!--  @Html.EditorFor(model => model.AboutPosters, new { htmlAttributes = new { @class = "checkbox" } })-->

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            About Distributors
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="Challenges" placeholder="Challenges faced / common arrangement" name="surprisinghit" data-toggle="tooltip" data-placement="top" title="Please fill out Challenges faced / common arrangement">
                <input type="text" class="form-control" id="distributorpractises " placeholder="Distributor practises" name="flopfilm" data-toggle="tooltip" data-placement="top" title="Please fill out distributor practises ">
            </div>
            <!--  @Html.EditorFor(model => model.AboutDistributors, new { htmlAttributes = new { @class = "form-control" } })-->

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            About Producer Deals
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="Challenges" placeholder="Challenges faced / common arrangement" name="surprisinghit" data-toggle="tooltip" data-placement="top" title="Please fill out Challenges faced / common arrangement">
                <input type="text" class="form-control" id="deals" placeholder=" Desired Deals with Distributors /Producer" name="flopfilm" data-toggle="tooltip" data-placement="top" title="Please fill out  desired deals with Distributors /Producer">
            </div>
            <!-- @Html.EditorFor(model => model.AboutProducerDeals, new { htmlAttributes = new { @class = "form-control" } })-->

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            About Occupancy Levels
        </div>
        <div class="col-xs-1">
            :
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id=" Challengesfaced" placeholder=" Challenges faced / common grievances " name="surprisinghit" data-toggle="tooltip" data-placement="top" title="Please fill out  Challenges faced / common grievances ">
                <input type="text" class="form-control" id="support" placeholder="Desired support system needed" name="flopfilm" data-toggle="tooltip" data-placement="top" title="Please fill out desired support system needed">
            </div>
            <!-- @Html.EditorFor(model => model.AboutOccupancyLevels, new { htmlAttributes = new { @class = "form-control" } })-->
        </div>
    </div>

    <br />
</div>
<input type="button" name="previous" class="previous action-button" value="Previous" style="height:46px;width:80px" />
<input type="submit" name="submit" value="Submit" onClick="window.location.href='sampleController.htm?action=customers'" style="height:46px;width:80px" />
