﻿@model SNS.ViewModels.AboutRevenuesVM

<div class="form-title-row">
    <h1>About Revenues</h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-5">
            F&B :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.FB, new { htmlAttributes = new { @class = "checkbox" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5" style="vertical-align:central">
            Parking :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.Parking, new { htmlAttributes = new { @class = "checkbox" } })
            <input type="text" /> <input type="text" />
        </div>
        </div>
    
    <br />
    <div class="row">
        <div class="col-xs-5">
            Local Advertising :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.LocalAdvertising, new { htmlAttributes = new { @class = "checkbox" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Others :
        </div>
        <div class="col-xs-7">
            @Html.CheckBoxFor(model => model.Other, new { htmlAttributes = new { @class = "checkbox" } })
            <input type="text" /> <input type="text" />

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            % of overall Revenues :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.OverallRevenues, new { htmlAttributes = new { @class = "checkbox" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 control-label">
            Additional Revenues :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AdditionalRevenues, new { htmlAttributes = new { @class = "checkbox" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            Effective Tax Rate :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.TaxRate, new { htmlAttributes = new { @class = "checkbox" } })
            <input type="text" /> <input type="text" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5">
            3 Year Avg. Annual Rev :
        </div>
        <div class="col-xs-7">
            @Html.EditorFor(model => model.AvgAnnualReb, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
</div>
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />