﻿@model SNS.ViewModels.TheatreVM
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutOnBoarding.cshtml";
}
    <link rel="stylesheet" href="~/Content/resources/screen1/styles/form_basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="form-basic" id="msform" method="post" action="sampleController.htm?action=about_theatres">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background1"></i><i class="fa fa-film fa-stack-1x" aria-hidden="true" style="font-size:30px;color:white;"></i>
            </span><br>
        </li>
        <li>
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background1"></i><i class="fa fa-cubes fa-stack-1x" aria-hidden="true" style="font-size:30px;color:white;"></i>
            </span><br>
        </li>
        <li>
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background1"></i><i class="fa fa-inr fa-stack-1x" aria-hidden="true" style="font-size:30px;color:white;"></i>
            </span><br>
        </li>
        <li>
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background1"></i><i class="fa fa-cogs fa-stack-1x" aria-hidden="true" style="font-size:30px;color:white;"></i>
            </span><br>
        </li>
        <li>
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background1"></i><i class="fa fa-eye fa-stack-1x" aria-hidden="true" style="font-size:30px;color:white;"></i>
            </span><br>
        </li>
        <li>
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background1"></i><i class="fa fa-circle-o-notch fa-stack-1x" aria-hidden="true" style="font-size:30px;color:white;"></i>
            </span><br>
        </li>
    </ul>
    <div id="field_size" style="color:white">
        <fieldset>
            @using (Html.BeginForm("AboutTheatre1", "OnBoarding"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_PartialAboutTheatre", Model.AboutTheatreVM)
}
        </fieldset>        
        <fieldset>
            @Html.Partial("_PartialAboutInventory",Model.AboutInventoryVM)
        </fieldset>
        <fieldset>
            @Html.Partial("_PartialAboutRevenues",Model.AboutRevenuesVM)
        </fieldset>
        <fieldset>
            @Html.Partial("_PartialAboutTechnology",Model.AboutTechnologyVM)
        </fieldset>
        <fieldset>
          @Html.Partial("_PartialAboutLocalInsights",Model.AboutLocalInsightVM)
        </fieldset>
        <fieldset>
            @Html.Partial("_PartialAboutOtherThings",Model.AboutOtherThingsVM)
         </fieldset>
    </div>
</form>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src="~/Content/resources/screen1/js/Processing.js"></script>

