﻿@model SNS.Models.ExhibitorProfile5
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutOnBoarding.cshtml";
}
<link rel="stylesheet" href="~/Content/resources/screen1/styles/form_basic.css">
<link href="~/Content/Customer/scripts/reset.min.css" rel="stylesheet" />
<link href="~/Content/Customer/scripts/font-awesome.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

<!-- progressbar -->

<div id="" style="color:white">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br /><br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <strong style="font-size:2em;">Local Insight</strong>
                <br /><br /><br />

                <h4>Genres:</h4>
                @Html.EditorFor(model => model.Genres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Genres, "", new { @class = "text-danger" })
                <br />
                <h4>Best Release From:</h4>
                @Html.EditorFor(model => model.BestReleaseFrom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BestReleaseFrom, "", new { @class = "text-danger" })
                <br />
                <h4>Best Release To:</h4>
                @Html.EditorFor(model => model.BestReleaseTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BestReleaseTo, "", new { @class = "text-danger" })
                <br />
                <h4>Worst Release From:</h4>
                @Html.EditorFor(model => model.WorstReleaseFrom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorstReleaseFrom, "", new { @class = "text-danger" })
                <br />
                <h4>Worst Release To:</h4>
                @Html.EditorFor(model => model.WorstReleaseTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorstReleaseTo, "", new { @class = "text-danger" })

                <br />
                <h4>Successful Stars:</h4>
                @Html.EditorFor(model => model.SuccessfulStars, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SuccessfulStars, "", new { @class = "text-danger" })
                <br />
                <h4>Regional Interest:</h4>
                @Html.EditorFor(model => model.RegionalInterest, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegionalInterest, "", new { @class = "text-danger" })
                <br />
                <h4>Regional Profitability:</h4>
                @Html.EditorFor(model => model.RegionalProfitability, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegionalProfitability, "", new { @class = "text-danger" })
                <br />
                <h4>Regional Distribution:</h4>
                @Html.EditorFor(model => model.RegionalDistribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegionalDistribution, "", new { @class = "text-danger" })
                <br />
                <h4>English Interest:</h4>
                @Html.EditorFor(model => model.EnglishInterest, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishInterest, "", new { @class = "text-danger" })
                <br />
                <h4>English Profitability:</h4>
                @Html.EditorFor(model => model.EnglishProfitability, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishProfitability, "", new { @class = "text-danger" })
                <br />
                <h4>English Distribution:</h4>
                @Html.EditorFor(model => model.EnglishDistribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishDistribution, "", new { @class = "text-danger" })
                <br />
                <h4>Dubbed Interest:</h4>
                @Html.EditorFor(model => model.DubbedInterest, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DubbedInterest, "", new { @class = "text-danger" })
                <br />
                <h4>Dubbed Profitability:</h4>
                @Html.EditorFor(model => model.DubbedProfitability, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DubbedProfitability, "", new { @class = "text-danger" })
                <br />
                <h4>Dubbed Distribution:</h4>
                @Html.EditorFor(model => model.DubbedDistribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DubbedDistribution, "", new { @class = "text-danger" })
                <br />
                <h4>Unique Case:</h4>
                @Html.EditorFor(model => model.UniqueCase, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UniqueCase, "", new { @class = "text-danger" })
                <br />
                <h4>Unique Flop:</h4>
                @Html.EditorFor(model => model.UniqueFlop, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UniqueFlop, "", new { @class = "text-danger" })
                <br />
                <h4>Business Existing Challenges:</h4>
                @Html.EditorFor(model => model.BusinessExistingChallenges, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BusinessExistingChallenges, "", new { @class = "text-danger" })
                <br />
                <h4>Business Potential Solutions:</h4>
                @Html.EditorFor(model => model.BusinessPotentialSolutions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BusinessPotentialSolutions, "", new { @class = "text-danger" })
                <br />
                <h4>Future Existing Challenges:</h4>
                @Html.EditorFor(model => model.FutureExistingChallenges, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FutureExistingChallenges, "", new { @class = "text-danger" })
                <br />
                <h4>Future Potential Solutions:</h4>
                @Html.EditorFor(model => model.FuturePotentialSolutions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FuturePotentialSolutions, "", new { @class = "text-danger" })
                <br />
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.USC)

                <a href="@Url.Action("AboutTheatre4",new { usc = @Html.DisplayFor(model => model.USC) })" class="btn btn-primary">Back</a>
                <input type="submit" name="next" class="btn btn-success" value="Save & Continue" />
                <a href="@Url.Action("Dashboard","Home")" class="btn btn-danger">Cancel</a>
                <br /><br />
            }
        </div>
        <div class="col-md-4"></div>
    </div>
    }
</div>
<script src="~/Content/Customer/scripts/jquery.easing.min.js"></script>
<script src="~/Content/Customer/scripts/jquery.min.js"></script>

@*<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>*@
<script src="~/Content/resources/screen1/js/Processing.js"></script>

