﻿@model SNS.Models.ExhibitorProfile3
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutOnBoarding.cshtml";
}
<link rel="stylesheet" href="~/Content/resources/screen1/styles/form_basic.css">
<link href="~/Content/Customer/scripts/reset.min.css" rel="stylesheet" />
<link href="~/Content/Customer/scripts/font-awesome.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

<!-- progressbar -->

<div id="" style="color:white">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br /><br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <strong style="font-size:2em;">Revenue Information</strong>
                <br /><br /><br />
                <h4>F&B Revenue:</h4>
                @Html.EditorFor(model => model.FandbRevenue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FandbRevenue, "", new { @class = "text-danger" })
                <br />
                <h4>Parking Revenue:</h4>
                @Html.EditorFor(model => model.ParkingRevenue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParkingRevenue, "", new { @class = "text-danger" })
                <br />
                <h4>Local Advertising Revenue:</h4>
                @Html.EditorFor(model => model.LocalAdvertisingRevenue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalAdvertisingRevenue, "", new { @class = "text-danger" })
                <br />
                <h4>Other Revenue:</h4>
                @Html.EditorFor(model => model.OtherRevenue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtherRevenue, "", new { @class = "text-danger" })
                <br />
                <h4>F&B Business:</h4>
                @Html.EditorFor(model => model.FandbBusiness, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FandbBusiness, "", new { @class = "text-danger" })
                <br />
                <h4>Additional Revenue:</h4>
                @Html.EditorFor(model => model.AdditionalRevenue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdditionalRevenue, "", new { @class = "text-danger" })
                <br />
                <h4>Effective Tax Rate:</h4>
                @Html.EditorFor(model => model.EffectiveTaxRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EffectiveTaxRate, "", new { @class = "text-danger" })
                <br />
                <h4>Average Three Year Revenue:</h4>
                @Html.EditorFor(model => model.Avg3YrRevenue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Avg3YrRevenue, "", new { @class = "text-danger" })
                <br />
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.USC)

                <a href="@Url.Action("AboutTheatre2",new { usc = @Html.DisplayFor(model => model.USC) })" class="btn btn-primary">Back</a>
                <input type="submit" name="next" class="btn btn-success" value="Save & Continue" />
                <a href="@Url.Action("Dashboard","Home")" class="btn btn-danger">Cancel</a>

                <br /><br />
            }
        </div>
        <div class="col-md-4"></div>
    </div>
    }
</div>

<script src="~/Content/Customer/scripts/jquery.easing.min.js"></script>
<script src="~/Content/Customer/scripts/jquery.min.js"></script>

@*<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>*@
<script src="~/Content/resources/screen1/js/Processing.js"></script>

<script src="~/Content/resources/screen1/js/Processing.js"></script>

