﻿@model SNS.Models.ExhibitorProfile1
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutOnBoarding.cshtml";
}
<link rel="stylesheet" href="~/Content/resources/screen1/styles/form_basic.css">
<link href="~/Content/Customer/scripts/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Customer/scripts/reset.min.css" rel="stylesheet" />

<!-- progressbar -->

<div id="" style="color:white">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br /><br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <strong style="font-size:2em;">About Theatre</strong>
                <br /><br /><br />
                <h4>Theatre Name:</h4>
                @Html.EditorFor(model => model.TheatreName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TheatreName, "", new { @class = "text-danger" })

                <br />
                <h4>Address:</h4>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                <br />

                <h4>Theatre Type:</h4>
                @Html.DropDownListFor(model => model.TheatreType,
                  new List<SelectListItem> {
new SelectListItem { Value = "Single" , Text = "Single" },
new SelectListItem { Value = "Multi" , Text = "Multi" }
                  },
                  new { @id = "ddSingleOrMulti", @class = "form-control", onchange = "chgSingleOrMulti" })

                @Html.ValidationMessageFor(model => model.TheatreType, "", new { @class = "text-danger" })
                <br />

                <h4>Screen Count:</h4>
                @Html.DropDownListFor(model => model.ScreenCount,
                              new List<SelectListItem> {
            new SelectListItem { Value = "1" , Text = "1" },
            new SelectListItem { Value = "2" , Text = "2" },
            new SelectListItem { Value = "3" , Text = "3" },
            new SelectListItem { Value = "4" , Text = "4" },
            new SelectListItem { Value = "5" , Text = "5" },
            new SelectListItem { Value = "6" , Text = "6" },
            new SelectListItem { Value = "7" , Text = "7" },
            new SelectListItem { Value = "8" , Text = "8" },
            new SelectListItem { Value = "9" , Text = "9" },
            new SelectListItem { Value = "10" , Text = "10" }
                  },
                  new { @id = "ddScreenCount", @class = "form-control", onchange = "SelectedIndexChanged()" })

                @Html.ValidationMessageFor(model => model.ScreenCount, "", new { @class = "text-danger" })
                <br />

                <h4>Staff Strength:</h4>
                @Html.DropDownListFor(model => model.StaffStrength,
                  new List<SelectListItem> {
new SelectListItem { Value = "1" , Text = "1" },
new SelectListItem { Value = "2" , Text = "2" },
new SelectListItem { Value = "3" , Text = "3" },
new SelectListItem { Value = "4" , Text = "4" },
new SelectListItem { Value = "5" , Text = "5" },
new SelectListItem { Value = "6" , Text = "6" },
new SelectListItem { Value = "7" , Text = "7" },
new SelectListItem { Value = "8" , Text = "8" },
new SelectListItem { Value = "9" , Text = "9" },
new SelectListItem { Value = "10" , Text = "10" }
                  },
                  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StaffStrength, "", new { @class = "text-danger" })

                <br />

                <h4>F&amp;B Business:</h4>
                @Html.DropDownListFor(model => model.FandbBusiness,
                  new List<SelectListItem> {
new SelectListItem { Value = "Self-Owned" , Text = "Self-Owned" },
new SelectListItem { Value = "Out sourced" , Text = "Out sourced" },
new SelectListItem { Value = "Partnered" , Text = "Partnered" }
                  },
                  new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.FandbBusiness, "", new { @class = "text-danger" })
                <br />

                <h4>Other Amentities:</h4>
                @Html.EditorFor(model => model.OtherAmenities, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtherAmenities, "", new { @class = "text-danger" })
                <br />

                <h4>Ownership</h4>
                <i>Proprietary</i>
                @Html.EditorFor(model => model.OwnershipProprietary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OwnershipProprietary, "", new { @class = "text-danger" })
                <i>Partnership</i>
                @Html.EditorFor(model => model.OwnershipPartnership, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OwnershipPartnership, "", new { @class = "text-danger" })
                <i>Company</i>
                @Html.EditorFor(model => model.OwnershipCompany, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OwnershipCompany, "", new { @class = "text-danger" })



                @*<div class="checkbox">
                        <label><input type="checkbox" id="chkProprietary" value="Proprietary">Proprietary</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkPartnership" value="Partnership">Partnership</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="chkCompany" value="Company">Company</label>
                    </div>*@

                <br />

                <h4>Contact Number:</h4>
                @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                <br />

                <h4>Email:</h4>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <br />

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.USC)
                <input type="submit" name="next" class="btn btn-primary" value="Save & Continue" />

                <a href="@Url.Action("Dashboard","Home")" class="btn btn-danger">Cancel</a>
                <br /><br />
            }
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script src="~/Content/Customer/scripts/jquery.easing.min.js"></script>
<script src="~/Content/Customer/scripts/jquery.min.js"></script>

@*<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>*@
<script src="~/Content/resources/screen1/js/Processing.js"></script>

<script>

    function SelectedIndexChanged() {
        if ($('#ddScreenCount').val() == "1") {
            $('#ddSingleOrMulti').val("Single");
        }
        else {
            $('#ddSingleOrMulti').val("Multi");
        }
    }
    function chgSingleOrMulti() {
        if ($('#ddSingleOrMulti').val() == "Single") {
            $('#ddScreenCount').val("1");
        }
    }

</script>