﻿@model SNS.Models.ExhibitorProfile2
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutOnBoarding.cshtml";
}
<link rel="stylesheet" href="~/Content/resources/screen1/styles/form_basic.css">
<link href="~/Content/Customer/scripts/reset.min.css" rel="stylesheet" />
<link href="~/Content/Customer/scripts/font-awesome.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

<!-- progressbar -->

<div id="" style="color:white">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br /><br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <strong style="font-size:2em;">Inventory</strong>
                <br /><br /><br />

                <h4>Total Capacity</h4>
                @Html.EditorFor(model => model.TotalCapacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalCapacity, "", new { @class = "text-danger" })

                <br />
                <h4>Capacity &amp; Price</h4>
                <div class="checkbox">
                    <h4>Stall:</h4>
                    <input type="checkbox" value="" id="chkStall">
                    @*@Html.LabelFor(model => model.StallCapacity)*@
                    @Html.EditorFor(model => model.StallCapacity, new { htmlAttributes = new { @id = "txtStallCapacity", disabled = true } })
                    @Html.ValidationMessageFor(model => model.StallCapacity, "", new { @class = "text-danger" })
                    @*@Html.LabelFor(model => model.StallPrice)*@
                    @Html.EditorFor(model => model.StallPrice, new { htmlAttributes = new { @id = "txtStallPrice", disabled = true } })
                    <i id="txtStall" class="text-success"></i>
                    @Html.ValidationMessageFor(model => model.StallPrice, "", new { @class = "text-danger" })

                </div>
                <div class="checkbox">
                    <h4>U-Stall:</h4>
                    <input type="checkbox" value="" id="chkUStall">

                    @*@Html.LabelFor(model => model.UstallCapacity)*@
                    @Html.EditorFor(model => model.UstallCapacity, new { htmlAttributes = new { @id = "txtUStallCapacity", disabled = true } })
                    @Html.ValidationMessageFor(model => model.UstallCapacity, "", new { @class = "text-danger" })
                    @*@Html.LabelFor(model => model.UstallPrice)*@
                    @Html.EditorFor(model => model.UstallPrice, new { htmlAttributes = new { @id = "txtUStallPrice", disabled = true } })
                    <i id="txtUStall" class="text-success"></i>
                    @Html.ValidationMessageFor(model => model.UstallPrice, "", new { @class = "text-danger" })
                </div>
                <div class="checkbox">
                    <h4>Dress-Circle:</h4>
                    <input type="checkbox" value="" id="chkDCC">

                    @*@Html.LabelFor(model => model.DresscircleCapacity)*@
                    @Html.EditorFor(model => model.DresscircleCapacity, new { htmlAttributes = new { @id = "txtDressCircleCapacity", disabled = true } })
                    @Html.ValidationMessageFor(model => model.DresscircleCapacity, "", new { @class = "text-danger" })
                    @*@Html.LabelFor(model => model.DresscirclePrice)*@
                    @Html.EditorFor(model => model.DresscirclePrice, new { htmlAttributes = new { @id = "txtDressCirclePrice", disabled = true } })
                    <i id="txtDCC" class="text-success"></i>
                    @Html.ValidationMessageFor(model => model.DresscirclePrice, "", new { @class = "text-danger" })
                </div>
                <div class="checkbox">
                    <h4>Balcony:</h4>
                    <input type="checkbox" value="" id="chkBalcony">

                    @*@Html.LabelFor(model => model.BalconyCapacity)*@
                    @Html.EditorFor(model => model.BalconyCapacity, new { htmlAttributes = new { @id = "txtBalconyCapacity", disabled = true } })
                    @Html.ValidationMessageFor(model => model.BalconyCapacity, "", new { @class = "text-danger" })
                    @*@Html.LabelFor(model => model.BalconyPrice)*@
                    @Html.EditorFor(model => model.BalconyPrice, new { htmlAttributes = new { @id = "txtBalconyPrice", disabled = true } })
                    <i id="txtBalcony" class="text-success"></i>
                    @Html.ValidationMessageFor(model => model.BalconyPrice, "", new { @class = "text-danger" })
                </div>
                <div class="checkbox">
                    <h4>Box:</h4>
                    <input type="checkbox" value="" id="chkBox">

                    @*@Html.LabelFor(model => model.BoxCapacity)*@
                    @Html.EditorFor(model => model.BoxCapacity, new { htmlAttributes = new { @id = "txtBoxCapacity", disabled = true } })
                    @Html.ValidationMessageFor(model => model.BoxCapacity, "", new { @class = "text-danger" })
                    @*@Html.LabelFor(model => model.BoxPrice)*@
                    @Html.EditorFor(model => model.BoxPrice, new { htmlAttributes = new { @id = "txtBoxPrice", disabled = true } })
                    <i id="txtBox" class="text-success"></i>
                    @Html.ValidationMessageFor(model => model.BoxPrice, "", new { @class = "text-danger" })
                </div>


                <br />
                <h4>Special-Event Price:</h4>
                @Html.EditorFor(model => model.SpleventPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpleventPrice, "", new { @class = "text-danger" })
                <br />
                <h4>Average Price Realization:</h4>
                @Html.EditorFor(model => model.AvgpriceRealization, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AvgpriceRealization, "", new { @class = "text-danger" })
                <br />
                <h4>Walkin or Advance:</h4>
                @Html.DropDownListFor(model => model.WalkinVsAdvancePercent,
                  new List<SelectListItem> {
new SelectListItem { Value = "Walkin-in" , Text = "Walkin-in" },
new SelectListItem { Value = "Advance" , Text = "Advance" }
                  },
                  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WalkinVsAdvancePercent, "", new { @class = "text-danger" })
                <br />
                <h4>Walkin or Advance Comments:</h4>
                @Html.EditorFor(model => model.WalkinVsAdvanceComments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WalkinVsAdvanceComments, "", new { @class = "text-danger" })
                <br />
                <h4>Annual Average Occupancy:</h4>
                @Html.EditorFor(model => model.AnnualAVgOccupancy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnnualAVgOccupancy, "", new { @class = "text-danger" })
                <br />

                <h4>Occupancy for Break-even Shows:</h4>
                @Html.EditorFor(model => model.OccupancyforBreakevenShows, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OccupancyforBreakevenShows, "", new { @class = "text-danger" })
                <br />
                <h4>Minimum Rent Expectations:</h4>
                @Html.EditorFor(model => model.MinRentExpectations, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinRentExpectations, "", new { @class = "text-danger" })
                <br />


                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.USC)

                <a href="@Url.Action("AboutTheatre1",new { usc = @Html.DisplayFor(model => model.USC) })" class="btn btn-primary">Back</a>
                <input type="submit" name="next" class="btn btn-success" value="Save & Continue" />
                <a href="@Url.Action("Dashboard","Home")" class="btn btn-danger">Cancel</a>
                <br /><br />
            }
        </div>
        <div class="col-md-4"></div>
    </div>


</div>
<script src="~/Content/Customer/scripts/jquery.easing.min.js"></script>
<script src="~/Content/Customer/scripts/jquery.min.js"></script>

@*<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>*@
<script src="~/Content/resources/screen1/js/Processing.js"></script>

<script>
    $('#chkStall').on('click', function () {
        if (this.checked) {
            $('#txtStallCapacity').prop('disabled', false);
            $('#txtStallPrice').prop('disabled', false);
            $('#txtStall').html("Stall");
        }
        else {
            $('#txtStallCapacity').prop('disabled', true);
            $('#txtStallPrice').prop('disabled', true);
            $('#txtStall').html("");
        }
    });
    $('#chkUStall').on('click', function () {
        if (this.checked) {
            $('#txtUStallCapacity').prop('disabled', false);
            $('#txtUStallPrice').prop('disabled', false);
            $('#txtUStall').html("U-Stall");
        }
        else {
            $('#txtUStallCapacity').prop('disabled', true);
            $('#txtUStallPrice').prop('disabled', true);
            $('#txtUStall').html("");
        }
    });
    $('#chkDCC').on('click', function () {
        if (this.checked) {
            $('#txtDressCircleCapacity').prop('disabled', false);
            $('#txtDressCirclePrice').prop('disabled', false);
            $('#txtDCC').html("Dress-Circle");
        }
        else {
            $('#txtDressCircleCapacity').prop('disabled', true);
            $('#txtDressCirclePrice').prop('disabled', true);
            $('#txtDCC').html("");
        }
    });
    $('#chkBalcony').on('click', function () {
        if (this.checked) {
            $('#txtBalconyCapacity').prop('disabled', false);
            $('#txtBalconyPrice').prop('disabled', false);
            $('#txtBalcony').html("Balcony");
        }
        else {
            $('#txtBalconyCapacity').prop('disabled', true);
            $('#txtBalconyPrice').prop('disabled', true);
            $('#txtBalcony').html("");
        }
    });
    $('#chkBox').on('click', function () {
        if (this.checked) {
            $('#txtBoxCapacity').prop('disabled', false);
            $('#txtBoxPrice').prop('disabled', false);
            $('#txtBox').html("Box");
        }
        else {
            $('#txtBoxCapacity').prop('disabled', true);
            $('#txtBoxPrice').prop('disabled', true);
            $('#txtBox').html("");
        }
    });

</script>