body {
    background-color: #bcbcbc;
}

.login{
    max-width:500px;
    margin:30px auto;
    background:#fff;
    border-radius:1px;
    padding:5px;
    font-family: Calibri;



}
label{

    width: 100px;
}

.login tr{
    list-style:none;
    padding:0;
    margin:0;



}

.login td{

    padding: 9px;
    margin-bottom: 17px;
    border-radius: 6px;
    width:200px;


}

input area{
    color:black;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 5px;
    cursor: pointer;
    margin-left: 80px;

}

.button2 {
    background-color:#f44336;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 5px;
    cursor: pointer;
    margin-left: 30px;

}

p{
    font-weight: bold;
    font-size:25px;
}

hr{
    background-color: black;

}



