#login-box {

    background-color: #bcbcbc;
}

.h4 {
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.login{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Calibri;
    height:560px;
}

.login ul{
    list-style:none;
    padding:0;
    margin:0;
}
.login li{

    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 17px;
    border-radius: 6px;



}
.login li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}

.login input[type="text"],
.login input[type="date"],
.login input[type="datetime"],
.login input[type="email"],
.login input[type="number"],
.login input[type="search"],
.login input[type="time"],
.login input[type="url"],
.login input[type="password"],
.login textarea,
.login select
{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 18px;
    line-height: 25px;
    font-size: 14px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.login input[type="password"]:focus,
.login textarea:focus,
.login select:focus
{
}
.login li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.login textarea{
    resize:none;
}
.login input[type="submit"],
.login input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    color: #D2E2FF;
}
#btnSubmit,
#btnCancel {
    background: #2980b9;
    color: white;
    width: 135px;
    float: left;
    height: 35px;
    text-align: center;
   
}

p{
    color:#2980b9;
    font-size: 20px;
    font-weight: bold;

}
hr{
    border-style: dashed;
    background-color:#6b6666;
}

#btnCancel {
    float: right;
    background-color: rgba(217, 96, 92, 1)
}




