﻿@model SNS.ViewModels.CustomersVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Customer/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/Customer/scripts/jquery.min.js"></script>
    <script src="~/Content/Customer/js/bootstrap.min.js"></script>
    <link href="~/Content/Customer/scripts/w3css.css" rel="stylesheet" />
    <script src="~/Content/Customer/scripts/angular.min.js"></script>
    <script src="~/Content/Customer/scripts/popper.min.js"></script>


    <style type="text/css">
        .topnav {
            overflow: hidden;
        }

            .topnav a {
                float: right;
                display: block;
                color: #e85353;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 100%;
            }

                .topnav a:hover {
                    color: #e8b253;
                }

        .active {
            color: #9b4545;
        }

        .topnav .icon {
            display: none;
        }

        @@media screen and (max-width: 1600px) {
            .topnav a:not(:first-child) {
                display: none;
            }

            .topnav a.icon {
                /*float: right;*/
                display: block;
            }
        }

        @@media screen and (max-width: 1600px) {
            .topnav.responsive {
                position: relative;
            }

                .topnav.responsive .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .topnav.responsive a {
                    float: none;
                    display: inline;
                    text-align: left;
                }
        }

        .button {
            display: inline-block;
            background-color: coral;
            border: none;
            border-radius: 0.15em;
            color: white;
            padding: 7px 90px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }




        .header {
            color: #818285;
        }

        .footer {
            width: 100%;
            background-color: #323232;
        }

        .id {
            height: 80px;
            width: 300px;
        }

        .img {
            max-width: 100%;
        }

        .newsbg {
            background-color: #e4cc69;
        }

        .gossipbg {
            background-color: #eeeeee;
        }

        div.ex1 {
            background-color: #e4cc69;
            overflow: auto;
        }

        div.ex2 {
            background-color: #eeeeee;
            overflow: auto;
        }

        .container {
            display: flex;
        }
    </style>
    <title>SNS</title>
</head>
<body style="margin: 5%; margin-top : 2%;">

    <!--new nav bar code start-->
    <div class="row container-fluid" style="margin:0;">
        <div class=" col-sm-4">

            <img src="~/Contents/images/sns_logo_small1.jpg" class="img-responsive" />

        </div>

        <div class="topnav" id="myTopnav">

            <a href="#success_stories">Success Stories</a>
            <a href="#available_films">Available Films</a>
            <a href="#news">News</a>
            <a href="gossip">Gossip</a>
            <a href="#supportt">Support</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </div>






    <div class="row" style="margin:0;">
        <div class=" col-sm-6 items">
            <br>
            <br>
            <h3 style="opacity: 0.5;">Write up about Seats and Shows</h3>
            <h3 style="opacity: 0.8; padding-right :20%;">Welcome to the single platform for Exhibitor, Entrepreneurs and Producers</h3>
        </div>
        <div class=" col-sm-6 w3-container" style="background-color:#fcfaf9;height:300px; padding:2%; ">
            <h3 style="opacity: 0.5;">Login</h3><br /><br />

            @using (Html.BeginForm("LoginExhibitor", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row" style="opacity: 0.5; ">
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "w3-input", @placeholder = "User Name" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div><div class="col-md-6">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "w3-input", @placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />



                <br /><br />
                <div class="col">
                    <div class=" row">
                        <div class="col-md-6">

                            <span style="opacity: 0.5;">
                                Not a member yet?
                            </span>
                            <a href="@Url.Action("USCScreen","Admin")" style="color:#4086ff">Signup here</a>
                        </div>
                        <div class="col-md-6" align="right">
                            <input type="submit" class="button btn" value="Login" />
                            @*<input type="button" class="button" value="Sign Up">*@
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>







    <img class="img img-responsive" src="~/Contents/images/success_stories_row.png" style="width:100%;"/>



    <!--Carousel code starts here-->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators"></ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <div class="row">
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster24_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster23_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster22_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">

                        <img src="~/Contents/images/availablefilms_poster21_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster20_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster19_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster18_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster17_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster16_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">

                        <img src="~/Contents/images/availablefilms_poster15_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster14_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster13_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                </div>

            </div>

            <div class="item">
                <div class="row">
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster12_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster11_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster10_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">

                        <img src="~/Contents/images/availablefilms_poster9_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster8_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster7_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster6_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster5_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster4_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">

                        <img src="~/Contents/images/availablefilms_poster3_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster2_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster1_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                </div>


            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <img class="img img-responsive" alt=" " src="~/Contents/images/available_films.png" />

    <div class="row" style="margin:0;">
        <img class="img img-responsive" alt=" " src="~/Contents/images/news_and_gossip.png" style="width:100%;"/>
    </div>



    <div class="footer">

        <div class="row container-fluid">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3" style="padding-right:5%;">
                <br /><br />
                <img class="img img-responsive" alt=" " src="~/Contents/images/sns_logo_blackbg.jpg" /><br /><br /><br />

            </div>


            <div>
                <div class="row container-fluid" style="margin:0;">
                    @*<div class="col-sm-6 topnav" style="text-align:center; color:coral;">

            <a href="#success_stories" style="font-size:100%;"> Success Stories</a>
            <a href="#available_films" style="font-size:100%;"> Available Films</a>
            <a href="#news" style="font-size:100%;"> News</a>
            <a href="#gossip" style="font-size:100%;"> Gossip</a>
            <a href="#supportt" style="font-size:100%;"> Support</a>

        </div>*@
                    <div class="col-sm-6 topnav" id="myTopnav">

                        <a href="#success_stories" style="font-size:100%;">Success Stories</a>
                        <a href="#available_films" style="font-size:100%;">Available Films</a>
                        <a href="#news" style="font-size:100%;">News</a>
                        <a href="gossip" style="font-size:100%;">Gossip</a>
                        <a href="#supportt" style="font-size:100%;">Support</a>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                    </div>
                    <div class="col-sm-6" style="text-align:right; padding-right:5%;">
                        <span style="color:grey; font-size:80%; text-align: right; ">All rights reserved to Synaptein Solutions Inc.&nbsp;&nbsp;&nbsp;</span><br /><br /><br />
                    </div>
                </div>



            </div>
        </div>
    </div>



    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>


</body>
</html>

