﻿@model SNS.Models.ExhibitorProfile1
    @{
        ViewBag.Title = "Exhibitor Header";
    }

    <div class="modal-header">
        Exhibitor Profile
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <section>
        <div class="modal-body">


            <div class="">
                <div class="row">
                    <section>
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                            <span class="round-tab">

                                                <i class="fa fa-film fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                            <span class="round-tab">
                                                <i class="fa fa-cubes fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                            <span class="round-tab">
                                                <i class="fa fa-inr fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4">
                                            <span class="round-tab">
                                                <i class="fa fa-cogs fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="Step 5">
                                            <span class="round-tab">
                                                <i class="fa fa-eye fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                            <span class="round-tab">
                                                <i class="fa fa-circle-o-notch fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            

                                <div class="tab-content">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <!--First page-->
                                        @using (Html.BeginForm("SaveExhibitorProfiles1", "Exhibitor", FormMethod.Post))
                                        {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form exhibitor" id="theatre-form">
                                        <center>  <h3>About the Theatre</h3></center><br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Theatre name
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                @Html.LabelFor(model => model.TheatreName)
                                                @Html.EditorFor(model => model.TheatreName, new { htmlAttributes = new { @class = "form-control", @value = "@Html.DisplayFor(i=>i.TheatreName)" } })
                                                @Html.ValidationMessageFor(model => model.TheatreName, "", new { @class = "text-danger" })
                                                @*<input type="text" name="theatre" placeholder="Enter theatre name">*@
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Address
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                @Html.LabelFor(model => model.Address)
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                @*<input type="text" name="address" placeholder="Enter address">*@
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Theatre Type
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                @Html.LabelFor(model => model.TheatreType)
                                                @Html.EditorFor(model => model.TheatreType, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TheatreType, "", new { @class = "text-danger" })

                                                @*<input type="radio" name="type" value="Single"> Single
                <input type="radio" name="type" value="Multi"> Multi*@
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Screen Count
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                @Html.LabelFor(model => model.ScreenCount)
                                                @Html.EditorFor(model => model.ScreenCount, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ScreenCount, "", new { @class = "text-danger" })
                                                @*<input type="text" name="count" placeholder="Enter number of screens">*@
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Staff Strength
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">
                                                @Html.LabelFor(model => model.StaffStrength)
                                                @Html.EditorFor(model => model.StaffStrength, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.StaffStrength, "", new { @class = "text-danger" })


                                                @*<select name="staff">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                    <option value="">6</option>
                    <option value="">7</option>
                    <option value="">8</option>
                    <option value="">9</option>
                    <option value="">10</option>
                </select>*@
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                FandB Business
                                            </div>
                                            <div class=" col-xs-1">:</div>
                                            <div class=" col-xs-6">
                                                @Html.LabelFor(model => model.FandbBusiness)
                                                @Html.EditorFor(model => model.FandbBusiness, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FandbBusiness, "", new { @class = "text-danger" })


                                                @*<select name="business">
                    <option value="">Self Owned</option>
                    <option value="">Out Sourced</option>
                    <option value="">Partnered</option>
                </select>*@
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Other Amenities
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">

                                                @Html.LabelFor(model => model.OtherAmenities)
                                                @Html.EditorFor(model => model.OtherAmenities, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OtherAmenities, "", new { @class = "text-danger" })

                                                @*<input type="text" name="amenities" placeholder="Enter details like parking, restaurant etc.">*@
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Ownership
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">

                                                @Html.LabelFor(model => model.Ownership)
                                                @Html.EditorFor(model => model.Ownership, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Ownership, "", new { @class = "text-danger" })


                                                @*<input type="radio" name="ownership" value="proprietary"> Proprietary
                <input type="radio" name="ownership" value="partnership">  Partnership
                <input type="radio" name="ownership" value="company">    Company*@
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Contact Number
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">

                                                @Html.LabelFor(model => model.ContactNumber)
                                                @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })


                                                @*<input type="text" name="contact" placeholder="Enter phone number">*@
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Email
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">

                                                @Html.LabelFor(model => model.Email)
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


                                                @*<input type="text" name="contact" placeholder="Enter phone number">*@
                                            </div>
                                        </div>
                                        <br />
                                    </div>

                                    <ul class="list-inline pull-right">
                                        @*<li><button type="button" class="btn btn-default next-step">Skip</button></li>
        <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>*@
                                        <li><input type="button" value="Skip" class="btn btn-primary next-step" /></li>
                                        <li><input type="submit" value="Save & Continue" class="btn btn-primary next-step" /></li>
                                    </ul>
                                        }
                                    </div>
                                    
                                    <div class="tab-pane" role="tabpanel" id="step2">


                                        <!--Second Page-->
                                        @using (Html.BeginForm("SaveExhibitorProfiles2", "Exhibitor", FormMethod.Post))
                                        {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form exhibitor" id="inventory-form">



                                        <center> <h3>About the Inventory</h3></center>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Total Capacity
                                            </div><div class=" col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter capacity">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Seating Categories
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <div>
                                                    <input type="checkbox" id="other" name="interest" value="other">
                                                    <label for="other">Stall</label>
                                                    <input type="text" id="otherValue" name="other" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue" name="other" placeholder="Enter Price">
                                                </div>




                                                @*<div class="col-xs-1"></div>*@

                                                <div>
                                                    <input type="checkbox" id="other1" name="interest" value="other1">
                                                    <label for="other1">U Stall</label>
                                                    <input type="text" id="otherValue1" name="other1" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue1" name="other1" placeholder="Enter Price">
                                                </div>




                                                <div>
                                                    <input type="checkbox" id="other2" name="interest" value="other2">
                                                    <label for="other2">Dress Circle</label>
                                                    <input type="text" id="otherValue2" name="other2" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue2" name="other2" placeholder="Enter Price">

                                                </div>



                                                <div>
                                                    <input type="checkbox" id="other3" name="interest" value="other3">
                                                    <label for="other3">Balcony</label>
                                                    <input type="text" id="otherValue3" name="other3" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue3" name="other3" placeholder="Enter Price">
                                                </div>



                                                <div>
                                                    <input type="checkbox" id="other4" name="interest" value="other4">
                                                    <label for="other4">Box</label>
                                                    <input type="text" id="otherValue4" name="other4" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue4" name="other4" placeholder="Enter Price">
                                                </div>


                                            </div>
                                        </div>
                                        <br />
                                        <div class=" row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Spl. Event Price (If)
                                            </div>
                                            <div class=" col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Spl. event price if any">
                                            </div>
                                        </div>
                                        <br />
                                        <div class=" row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Avg. Price Realization
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Avg. Price Realization">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                % of Walk-In Vs. Advance
                                            </div>
                                            <div class=" col-xs-1">:</div>
                                            <div class=" col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter walk-In %">

                                                <input type="text" name="capacity" placeholder="Enter Advance %">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Annual Avg. Occupancy
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Annual Avg. Occupancy">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Occu for break even show
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Occu for break even show">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Minimum Rent Expectations
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Minimum Rent Expectations">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                        <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                                        <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                                    </ul>
}
                                    </div>

                                    <div class="tab-pane" role="tabpanel" id="step3">
                                        <!--Third Page-->
                                        @using (Html.BeginForm("SaveExhibitorProfiles3", "Exhibitor", FormMethod.Post))
                                        {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="form">
                                        <center> <h3>About Revenues</h3></center><br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Other Revenue Sorces
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">

                                                <div>
                                                    <input type="checkbox" id="ors1" name="interest" value="ors1">
                                                    <label for="ors1">F and B</label>
                                                    <input type="text" id="ors1Value" name="ors1" placeholder="F&B Revenue">
                                                </div>


                                                <div>
                                                    <input type="checkbox" id="ors2" name="interest" value="ors2">
                                                    <label for="other1">Parking</label>
                                                    <input type="text" id="ors2Value" name="ors2" placeholder="Praking Rev">
                                                </div>

                                                <div>
                                                    <input type="checkbox" id="ors3" name="interest" value="ors3">
                                                    <label for="ors3">Local Advt Rev</label>
                                                    <input type="text" id="ors3Value" name="ors3" placeholder="Local advt Rev">

                                                </div>

                                                <div>
                                                    <input type="checkbox" id="ors4" name="interest" value="ors4">
                                                    <label for="ors4">Others</label>
                                                    <input type="text" id="ors4Value" name="ors4" placeholder="Other Rev">
                                                </div>

                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1">

                                            </div>
                                            <div class="col-xs-4">

                                                F and B Business
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="business" placeholder="Enter Percentage of overall Revenues">
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-xs-1">

                                            </div>
                                            <div class="col-xs-4">
                                                Additional Revenues
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="revenue" placeholder="Enter inputs & insights Local Adverts">



                                                <input type="text" name="revenue" placeholder="Enter inputs & insights  Film Trailers">
                                                <input type="text" name="revenue" placeholder="Enter inputs & insights  Sports & Corp Event Shows">
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-xs-1">

                                            </div>
                                            <div class="col-xs-4">
                                                Effective Tax Rate
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class=" col-xs-6">
                                                <input type="text" name="tax" placeholder="Enter Entertainment Tax / VAT / LBT / Cess / etc.">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1">

                                            </div>
                                            <div class="col-xs-4">
                                                3 Year Avg. Annual Rev
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class=" col-xs-6"><input type="text" name="annualRev" placeholder="Enter  revenues from all sources"></div>
                                        </div><br />
                                    </div>

                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                        <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                                        <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                                    </ul>
                                        }
                                    </div>

                                    <div class="tab-pane" role="tabpanel" id="step4">
                                        <!--Fourth Page-->
                                        @using (Html.BeginForm("SaveExhibitorProfiles4", "Exhibitor", FormMethod.Post))
                                        {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-title-row" align="center">
                                        <h1>About Technology</h1> <br />
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Present Screening System
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6" align="left">
                                                <input type="radio" name="ScreeningSystem" value="Analogue"> Analogue<br />
                                                <input type="radio" name="ScreeningSystem" value="Digital"> Digital

                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4" style="vertical-align:central">
                                                Interest in Digital
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6" align="left">
                                                <input type="radio" name="IntrestInDigital" value="Yes"> Yes<br />
                                                <input type="radio" name="IntrestInDigital" value="No"> No

                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4" style="vertical-align:central">
                                                Why? (If NO)
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">
                                                <input type="text" name="comments" placeholder="Enter comments">
                                            </div>
                                        </div>
                                        <br />



                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4" style="vertical-align:central">
                                                Which Company? (If YES)
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">

                                                <select name="company">
                                                    <option value="abc">abc</option>
                                                    <option value="def">def</option>
                                                    <option value="ghi">ghi</option>
                                                    <option value="jkl">jkl</option>
                                                </select>

                                            </div>
                                        </div>
                                        <br />



                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4" style="vertical-align:central">
                                                Type Of Back End (If YES)
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">

                                                <select name="BackEnd">
                                                    <option value="Internal">Internal</option>
                                                    <option value="External">External</option>
                                                    <option value="Cloud">Cloud</option>
                                                </select>

                                            </div>
                                        </div>
                                        <br />




                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Ticket Booking System
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">

                                                <select name="BackEnd">
                                                    <option value=" Manual Chart"> Manual Chart</option>
                                                    <option value=" BMS"> BMS</option>
                                                    <option value=" In-house Digital"> In-house Digital</option>
                                                </select>


                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Accepted Payment type
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6" align="left">
                                                <input type="radio" name="PaymentType" value="CashOnly">     Cash Only<br />
                                                <input type="radio" name="PaymentType" value="AcceptCard">   Accept Card<br />
                                                <input type="radio" name="PaymentType" value="Online">       Online


                                            </div>
                                        </div>
                                        <br />
                                    </div>

                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                        <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                                        <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                                    </ul>
                                        }
                                    </div>

                                    <div class="tab-pane" role="tabpanel" id="step5">
                                        <!--Fifth Page-->
                                        @using (Html.BeginForm("SaveExhibitorProfiles5", "Exhibitor", FormMethod.Post))
                                        {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-title-row" align="center">
                                        <h1>About Local Insight</h1> <br />
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            Successful Genres
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="text" name="comments" placeholder="Enter Successful Genres">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4" style="vertical-align:central">
                                            Best Release Period
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="date" name="BestReleaseDate">
                                            <input type="date" name="BestReleaseDate">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            Worst Release Period
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="date" name="WorstReleaseDate">
                                            <input type="date" name="WorstReleaseDate">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            List Successful Stars
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">

                                            <select name="company">
                                                <option value="abc">abc</option>
                                                <option value="def">def</option>
                                                <option value="ghi">ghi</option>
                                                <option value="jkl">jkl</option>
                                            </select>

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            About Regional Films
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="comments" placeholder="Enter Intreset Level">
                                                <input type="text" name="comments" placeholder="Enter Profitability">
                                                <input type="text" name="comments" placeholder="Enter Distribution Issues">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4 control-label">
                                            About English Films
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="comments" placeholder="Enter Intreset Level">
                                                <input type="text" name="comments" placeholder="Enter Profitability">
                                                <input type="text" name="comments" placeholder="Enter Distribution Issues">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            About Dubbed Films
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="comments" placeholder="Enter Intreset Level">
                                                <input type="text" name="comments" placeholder="Enter Profitability">
                                                <input type="text" name="comments" placeholder="Enter Distribution Issues">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            Unique Case
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="comments" placeholder="Enter one surprising hit">
                                                <input type="text" name="comments" placeholder="Enter one flop flim">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            Business Insight
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="comments" placeholder="Enter Existing Challenges">
                                                <input type="text" name="comments" placeholder="Enter Potential solutions">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            Future Assessment
                                        </div>
                                        <div class="col-xs-1">
                                            :
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="comments" placeholder="Enter Existing Challenges">
                                                <input type="text" name="comments" placeholder="Enter Potential solutions">
                                            </div>
                                        </div>
                                    </div>
                                    <br />



                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                        <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                                        <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                                    </ul>
                                        }
                                    </div>

                                    <div class="tab-pane" role="tabpanel" id="complete">
                                        <!-- sixth page-->
                                        @using (Html.BeginForm("SaveExhibitorProfiles6", "Exhibitor", FormMethod.Post))
                                        {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-title-row" align="center">
                                        <h1>About  Other Things</h1><br />
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                About Publicity
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" name="comments" placeholder="Enter publicity expenses">
                                                    <input type="text" name="comments" placeholder="Enter Property & publicity Management on site">
                                                </div>

                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4" style="vertical-align:central">
                                                About Posters
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">

                                                    <input type="text" name="comments" placeholder="Enter  poster sourcing">
                                                    <input type="text" name="comments" placeholder="Enter cost incurred & to whom & how is it billed?">

                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4" style="vertical-align:central">
                                                About Distributors
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">

                                                    <input type="text" name="comments" placeholder="Enter Challenges faced / common arrangement">
                                                    <input type="text" name="comments" placeholder="Enter  distributor practises ">
                                                </div>

                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4" style="vertical-align:central">
                                                About Producer Deals
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" name="comments" placeholder="Enter Challenges faced / common arrangement">
                                                    <input type="text" name="comments" placeholder="Enter deals with Distributors /Producer">

                                                </div>


                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4" style="vertical-align:central">
                                                About Occupancy Levels
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" name="comments" placeholder="Enter Challenges faced / common grievances">
                                                    <input type="text" name="comments" placeholder="Enter  support system needed">
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                        <li><button type="submit" class="btn btn-primary btn-info-full next-step">Submit</button></li>
                                    </ul>
                                        }
                                    </div>
                                </div>
                            
                            <div class="clearfix"></div>
                        </div>
                    </section>
               </div>
            </div>
        </div>

    </section>
    <script>
        var otherCheckbox = document.querySelector('input[value="other"]');
        var otherText = document.querySelector('input[id="otherValue"]');
        otherText.style.visibility = 'hidden';
        otherCheckbox.onchange = function () {
            if (otherCheckbox.checked) {
                otherText.style.visibility = 'visible';
                otherText.value = '';
            } else {
                otherText.style.visibility = 'hidden';
            }
        };

        var other1Checkbox = document.querySelector('input[value="other1"]');
        var other1Text = document.querySelector('input[id="otherValue1"]');
        other1Text.style.visibility = 'hidden';
        other1Checkbox.onchange = function () {
            if (other1Checkbox.checked) {
                other1Text.style.visibility = 'visible';
                other1Text.value = '';
            } else {
                other1Text.style.visibility = 'hidden';
            }
        };

        var other2Checkbox = document.querySelector('input[value="other2"]');
        var other2Text = document.querySelector('input[id="otherValue2"]');
        other2Text.style.visibility = 'hidden';
        other2Checkbox.onchange = function () {
            if (other2Checkbox.checked) {
                other2Text.style.visibility = 'visible';
                other2Text.value = '';
            } else {
                other2Text.style.visibility = 'hidden';
            }
        };

        var other3Checkbox = document.querySelector('input[value="other3"]');
        var other3Text = document.querySelector('input[id="otherValue3"]');
        other3Text.style.visibility = 'hidden';
        other3Checkbox.onchange = function () {
            if (other3Checkbox.checked) {
                other3Text.style.visibility = 'visible';
                other3Text.value = '';
            } else {
                other3Text.style.visibility = 'hidden';
            }
        };

        var other4Checkbox = document.querySelector('input[value="other4"]');
        var other4Text = document.querySelector('input[id="otherValue4"]');
        other4Text.style.visibility = 'hidden';
        other4Checkbox.onchange = function () {
            if (other4Checkbox.checked) {
                other4Text.style.visibility = 'visible';
                other4Text.value = '';
            } else {
                other4Text.style.visibility = 'hidden';
            }
        };


        var ors1Checkbox = document.querySelector('input[value="ors1"]');
        var ors1Text = document.querySelector('input[id="ors1Value"]');
        ors1Text.style.visibility = 'hidden';
        ors1Checkbox.onchange = function () {
            if (ors1Checkbox.checked) {
                ors1Text.style.visibility = 'visible';
                ors1Text.value = '';
            } else {
                ors1Text.style.visibility = 'hidden';
            }
        };

        var ors2Checkbox = document.querySelector('input[value="ors2"]');
        var ors2Text = document.querySelector('input[id="ors2Value"]');
        ors2Text.style.visibility = 'hidden';
        ors2Checkbox.onchange = function () {
            if (ors2Checkbox.checked) {
                ors2Text.style.visibility = 'visible';
                ors2Text.value = '';
            } else {
                ors2Text.style.visibility = 'hidden';
            }
        };

        var ors3Checkbox = document.querySelector('input[value="ors3"]');
        var ors3Text = document.querySelector('input[id="ors3Value"]');
        ors3Text.style.visibility = 'hidden';
        ors3Checkbox.onchange = function () {
            if (ors3Checkbox.checked) {
                ors3Text.style.visibility = 'visible';
                ors3Text.value = '';
            } else {
                ors3Text.style.visibility = 'hidden';
            }
        };

        var ors4Checkbox = document.querySelector('input[value="ors4"]');
        var ors4Text = document.querySelector('input[id="ors4Value"]');
        ors4Text.style.visibility = 'hidden';
        ors4Checkbox.onchange = function () {
            if (ors4Checkbox.checked) {
                ors4Text.style.visibility = 'visible';
                ors4Text.value = '';
            } else {
                ors4Text.style.visibility = 'hidden';
            }
        };

        


    </script>