﻿@model SNS.Models.ExhibitorProfile1
    @{
        ViewBag.Title = "Exhibitor Header";
    }

    <div class="modal-header">
        Exhibitor Profile
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <section>
        <div class="modal-body">


            <div class="">
                <div class="row">
                    <section>
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                            <span class="round-tab">

                                                <i class="fa fa-film fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                            <span class="round-tab">
                                                <i class="fa fa-cubes fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                            <span class="round-tab">
                                                <i class="fa fa-inr fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4">
                                            <span class="round-tab">
                                                <i class="fa fa-cogs fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="Step 5">
                                            <span class="round-tab">
                                                <i class="fa fa-eye fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                            <span class="round-tab">
                                                <i class="fa fa-circle-o-notch fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            

                                <div class="tab-content">
                                    
                                    <div class="tab-pane" role="tabpanel" id="step2">


                                        <!--Second Page-->
                                        @using (Html.BeginForm("SaveExhibitorProfiles2", "Exhibitor", FormMethod.Post))
                                        {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form exhibitor" id="inventory-form">



                                        <center> <h3>About the Inventory</h3></center>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Total Capacity
                                            </div><div class=" col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter capacity">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Seating Categories
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <div>
                                                    
                                                    <input type="checkbox" id="other" name="interest" value="other">
                                                    <label for="other">Stall</label>
                                                    <input type="text" id="otherValue" name="other" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue" name="other" placeholder="Enter Price">
                                                </div>




                                                @*<div class="col-xs-1"></div>*@

                                                <div>
                                                    <input type="checkbox" id="other1" name="interest" value="other1">
                                                    <label for="other1">U Stall</label>
                                                    <input type="text" id="otherValue1" name="other1" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue1" name="other1" placeholder="Enter Price">
                                                </div>




                                                <div>
                                                    <input type="checkbox" id="other2" name="interest" value="other2">
                                                    <label for="other2">Dress Circle</label>
                                                    <input type="text" id="otherValue2" name="other2" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue2" name="other2" placeholder="Enter Price">

                                                </div>



                                                <div>
                                                    <input type="checkbox" id="other3" name="interest" value="other3">
                                                    <label for="other3">Balcony</label>
                                                    <input type="text" id="otherValue3" name="other3" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue3" name="other3" placeholder="Enter Price">
                                                </div>



                                                <div>
                                                    <input type="checkbox" id="other4" name="interest" value="other4">
                                                    <label for="other4">Box</label>
                                                    <input type="text" id="otherValue4" name="other4" placeholder="Enter Capacity">
                                                    <input type="text" id="otherValue4" name="other4" placeholder="Enter Price">
                                                </div>


                                            </div>
                                        </div>
                                        <br />
                                        <div class=" row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Spl. Event Price (If)
                                            </div>
                                            <div class=" col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Spl. event price if any">
                                            </div>
                                        </div>
                                        <br />
                                        <div class=" row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Avg. Price Realization
                                            </div>
                                            <div class="col-xs-1">
                                                :
                                            </div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Avg. Price Realization">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                % of Walk-In Vs. Advance
                                            </div>
                                            <div class=" col-xs-1">:</div>
                                            <div class=" col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter walk-In %">

                                                <input type="text" name="capacity" placeholder="Enter Advance %">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Annual Avg. Occupancy
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Annual Avg. Occupancy">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Occu for break even show
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Occu for break even show">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-xs-1"> </div>
                                            <div class="col-xs-4">
                                                Minimum Rent Expectations
                                            </div>
                                            <div class="col-xs-1">:</div>
                                            <div class="col-xs-6">
                                                <input type="text" name="capacity" placeholder="Enter Minimum Rent Expectations">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                        <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                                        <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                                    </ul>
}
                                    </div>
</div>
                            
                            <div class="clearfix"></div>
                        </div>
                    </section>
               </div>
            </div>
        </div>

    </section>
    <script>
        var otherCheckbox = document.querySelector('input[value="other"]');
        var otherText = document.querySelector('input[id="otherValue"]');
        otherText.style.visibility = 'hidden';
        otherCheckbox.onchange = function () {
            if (otherCheckbox.checked) {
                otherText.style.visibility = 'visible';
                otherText.value = '';
            } else {
                otherText.style.visibility = 'hidden';
            }
        };

        var other1Checkbox = document.querySelector('input[value="other1"]');
        var other1Text = document.querySelector('input[id="otherValue1"]');
        other1Text.style.visibility = 'hidden';
        other1Checkbox.onchange = function () {
            if (other1Checkbox.checked) {
                other1Text.style.visibility = 'visible';
                other1Text.value = '';
            } else {
                other1Text.style.visibility = 'hidden';
            }
        };

        var other2Checkbox = document.querySelector('input[value="other2"]');
        var other2Text = document.querySelector('input[id="otherValue2"]');
        other2Text.style.visibility = 'hidden';
        other2Checkbox.onchange = function () {
            if (other2Checkbox.checked) {
                other2Text.style.visibility = 'visible';
                other2Text.value = '';
            } else {
                other2Text.style.visibility = 'hidden';
            }
        };

        var other3Checkbox = document.querySelector('input[value="other3"]');
        var other3Text = document.querySelector('input[id="otherValue3"]');
        other3Text.style.visibility = 'hidden';
        other3Checkbox.onchange = function () {
            if (other3Checkbox.checked) {
                other3Text.style.visibility = 'visible';
                other3Text.value = '';
            } else {
                other3Text.style.visibility = 'hidden';
            }
        };

        var other4Checkbox = document.querySelector('input[value="other4"]');
        var other4Text = document.querySelector('input[id="otherValue4"]');
        other4Text.style.visibility = 'hidden';
        other4Checkbox.onchange = function () {
            if (other4Checkbox.checked) {
                other4Text.style.visibility = 'visible';
                other4Text.value = '';
            } else {
                other4Text.style.visibility = 'hidden';
            }
        };


        var ors1Checkbox = document.querySelector('input[value="ors1"]');
        var ors1Text = document.querySelector('input[id="ors1Value"]');
        ors1Text.style.visibility = 'hidden';
        ors1Checkbox.onchange = function () {
            if (ors1Checkbox.checked) {
                ors1Text.style.visibility = 'visible';
                ors1Text.value = '';
            } else {
                ors1Text.style.visibility = 'hidden';
            }
        };

        var ors2Checkbox = document.querySelector('input[value="ors2"]');
        var ors2Text = document.querySelector('input[id="ors2Value"]');
        ors2Text.style.visibility = 'hidden';
        ors2Checkbox.onchange = function () {
            if (ors2Checkbox.checked) {
                ors2Text.style.visibility = 'visible';
                ors2Text.value = '';
            } else {
                ors2Text.style.visibility = 'hidden';
            }
        };

        var ors3Checkbox = document.querySelector('input[value="ors3"]');
        var ors3Text = document.querySelector('input[id="ors3Value"]');
        ors3Text.style.visibility = 'hidden';
        ors3Checkbox.onchange = function () {
            if (ors3Checkbox.checked) {
                ors3Text.style.visibility = 'visible';
                ors3Text.value = '';
            } else {
                ors3Text.style.visibility = 'hidden';
            }
        };

        var ors4Checkbox = document.querySelector('input[value="ors4"]');
        var ors4Text = document.querySelector('input[id="ors4Value"]');
        ors4Text.style.visibility = 'hidden';
        ors4Checkbox.onchange = function () {
            if (ors4Checkbox.checked) {
                ors4Text.style.visibility = 'visible';
                ors4Text.value = '';
            } else {
                ors4Text.style.visibility = 'hidden';
            }
        };

    </script>