﻿<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Customer/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/Customer/scripts/jquery.min.js"></script>
    <script src="~/Content/Customer/js/bootstrap.min.js"></script>
    <link href="~/Content/Customer/scripts/w3css.css" rel="stylesheet" />
    <script src="~/Content/Customer/scripts/angular.min.js"></script>
    <script src="~/Content/Customer/scripts/popper.min.js"></script>
    <style>
        .topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #e85353;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover {
  color: #e8b253;
}

.active {
  color: #9b4545;
}

.topnav .icon {
  display: none;
}

@@media screen and (max-width: 1600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    /*float: right;*/
    display: block;
  }
}

@@media screen and (max-width: 1600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: inline;
    text-align: left;
  }
}

    </style>
    </head>

<body style="margin: 5%; margin-top : 2%;">
    <div class="row container-fluid" style="margin:0;">
        <div class=" col-sm-4">

            <img src="~/Contents/images/sns_logo_small1.jpg" class="img-responsive" />

        </div>

        <div class="topnav" id="myTopnav">

            <a href="#success_stories">Success Stories</a>
            <a href="#available_films">Available Films</a>
            <a href="#news">News</a>
            <a href="gossip">Gossip</a>
            <a href="#supportt">Support</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <img src="~/Contents/images/exhibitor_hd.jpg" />
        </div>
        <div class="col-sm-6">

        </div>
    </div>
    <img src="~/Contents/images/newfilms.png" />
    <img src="~/Contents/images/producers_entrepreneurs.png" />
    <img src="~/Contents/images/news_exhibitor.png" />
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators"></ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <div class="row">
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster24_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster23_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster22_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">

                        <img src="~/Contents/images/availablefilms_poster21_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster20_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster19_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster18_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster17_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster16_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">

                        <img src="~/Contents/images/availablefilms_poster15_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster14_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster13_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                </div>

            </div>

            <div class="item">
                <div class="row">
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster12_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster11_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster10_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">

                        <img src="~/Contents/images/availablefilms_poster9_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster8_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster7_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster6_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster5_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">


                        <img src="~/Contents/images/availablefilms_poster4_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">

                        <img src="~/Contents/images/availablefilms_poster3_sm.jpg" class="img-responsive" alt=" " />
                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster2_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                    <div class="col-sm-1">
                        <img src="~/Contents/images/availablefilms_poster1_sm.jpg" class="img-responsive" alt=" " />

                    </div>
                </div>


            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <img src="~/Contents/images/available_films.png" />
    <div class="footer">

        <div class="row container-fluid">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3" style="padding-right:5%;">
                <br /><br />
                <img class="img img-responsive" alt=" " src="~/Contents/images/sns_logo_blackbg.jpg" /><br /><br /><br />

            </div>


            <div>
                <div class="row">
                    <div class="col-sm-6 topnav" style="text-align:center; color:coral;">

                        <a href="#success_stories" style="font-size:100%;"> Success Stories</a>
                        <a href="#available_films" style="font-size:100%;"> Available Films</a>
                        <a href="#news" style="font-size:100%;"> News</a>
                        <a href="#gossip" style="font-size:100%;"> Gossip</a>
                        <a href="#supportt" style="font-size:100%;"> Support</a>

                    </div>
                    <div class="col-sm-6" style="text-align:right; padding-right:5%;">
                        <span style="color:grey; font-size:80%; text-align: right; ">All rights reserved to Synaptein Solutions Inc.&nbsp;&nbsp;&nbsp;</span><br /><br /><br />
                    </div>
                </div>



            </div>
        </div>
    </div>
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>
</html>
