﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ExhibitorLayout.cshtml";
}
<br>
<br>
<br>
<br>
<br>
<html>
<head>
<style>
    .bg{
        background-color:grey;
    }
    .img {
        max-width: 100%;
    }
    .row1 {
        margin-right: -15px;
        margin-left: 0px;
    }

</style>
</head>
<body >
    <div style="width:100%; background-color:#fcfafa;">
        <br /><br /><br />
    </div>
        <div class="row1" style="width:100%; background-color:#fcfafa; ">
            <div class="col-sm-6">
                <img src="~/Contents/images/exhibitor_hd.jpg" class="img-responsive" style="width:100%;" />
            </div>

            <div class="col-sm-6">

            </div>
        </div>
        <div style="width:100%; background-color:#fcfafa;">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div class="container-fluid" style="padding:0%;">
            <img src="~/Contents/images/newfilms.png" class="img-responsive " style="width:100%;" />
            <img src="~/Contents/images/producers_entrepreneurs.png" class="img-responsive " style="width:100%;" />
            <img src="~/Contents/images/news_exhibitor.png" class="img-responsive " style="width:100%;" />
        </div>
        <!--Carosal start-->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators"></ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <div class="row">
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster24_sm.jpg" class="img-responsive" alt=" " />
                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster23_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster22_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">

                            <img src="~/Contents/images/availablefilms_poster21_sm.jpg" class="img-responsive" alt=" " />
                        </div>
                        <div class="col-sm-1">
                            <img src="~/Contents/images/availablefilms_poster20_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">
                            <img src="~/Contents/images/availablefilms_poster19_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster18_sm.jpg" class="img-responsive" alt=" " />
                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster17_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster16_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">

                            <img src="~/Contents/images/availablefilms_poster15_sm.jpg" class="img-responsive" alt=" " />
                        </div>
                        <div class="col-sm-1">
                            <img src="~/Contents/images/availablefilms_poster14_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">
                            <img src="~/Contents/images/availablefilms_poster13_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                    </div>

                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster12_sm.jpg" class="img-responsive" alt=" " />
                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster11_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster10_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">

                            <img src="~/Contents/images/availablefilms_poster9_sm.jpg" class="img-responsive" alt=" " />
                        </div>
                        <div class="col-sm-1">
                            <img src="~/Contents/images/availablefilms_poster8_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">
                            <img src="~/Contents/images/availablefilms_poster7_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster6_sm.jpg" class="img-responsive" alt=" " />
                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster5_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">


                            <img src="~/Contents/images/availablefilms_poster4_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">

                            <img src="~/Contents/images/availablefilms_poster3_sm.jpg" class="img-responsive" alt=" " />
                        </div>
                        <div class="col-sm-1">
                            <img src="~/Contents/images/availablefilms_poster2_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                        <div class="col-sm-1">
                            <img src="~/Contents/images/availablefilms_poster1_sm.jpg" class="img-responsive" alt=" " />

                        </div>
                    </div>


                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



        <!--Carosal end-->

        <img src="~/Contents/images/available_films.png" class="img img-responsive" />
        <div class="bg">
            <br />
            <br />
        </div>
    
    <script src="~/Content/Customer/js/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript">
        $("#slidey").slidey({
            interval: 8000,
            listCount: 5,
            autoplay: false,
            showList: true
        });
        $(".slidey-list-description").dotdotdot();
    </script>
</body>
</html>