﻿@model SNS.Models.ExhibitorProfile6
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutOnBoarding.cshtml";
}
<link rel="stylesheet" href="~/Content/resources/screen1/styles/form_basic.css">
<link href="~/Content/Customer/scripts/reset.min.css" rel="stylesheet" />
<link href="~/Content/Customer/scripts/font-awesome.min.css" rel="stylesheet" />

<!-- progressbar -->

<div id="" style="color:white">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br /><br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <strong style="font-size:2em;">Other Things</strong>
                <br /><br /><br />
                <h4>Publicity Expenses:</h4>
                @Html.EditorFor(model => model.PublicityExpenses, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PublicityExpenses, "", new { @class = "text-danger" })

                <br />
                <h4>Publicity Property:</h4>
                @Html.EditorFor(model => model.PublicityProperty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PublicityProperty, "", new { @class = "text-danger" })
                <br />

                <h4>Poster Sourcing:</h4>
                @Html.EditorFor(model => model.PosterSourcing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PosterSourcing, "", new { @class = "text-danger" })
                <br />

                <h4>Poster Cost Whom:</h4>
                @Html.EditorFor(model => model.PosterCostWhom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PosterCostWhom, "", new { @class = "text-danger" })
                <br />

                <h4>Distributor Challenges:</h4>
                @Html.EditorFor(model => model.DistributorChallenges, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DistributorChallenges, "", new { @class = "text-danger" })

                <br />

                <h4>Distributor Practises:</h4>
                @Html.EditorFor(model => model.Distributorpractises, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Distributorpractises, "", new { @class = "text-danger" })
                <br />

                <h4>Producer Challenges:</h4>
                @Html.EditorFor(model => model.ProducerChallenges, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProducerChallenges, "", new { @class = "text-danger" })
                <br />

                <h4>Producer Deals:</h4>
                @Html.EditorFor(model => model.ProducerDeals, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProducerDeals, "", new { @class = "text-danger" })
                <br />

                <h4>Occupancy Challenges:</h4>
                @Html.EditorFor(model => model.OccupancyChallenges, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OccupancyChallenges, "", new { @class = "text-danger" })
                <br />

                <h4>Occupancy Support:</h4>
                @Html.EditorFor(model => model.OccupancySupport, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OccupancySupport, "", new { @class = "text-danger" })
                <br />

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.USC)

                <a href="@Url.Action("Profile5",new { usc = @Html.DisplayFor(model => model.USC) })" class="btn btn-primary">Back</a>
                <input type="submit" name="next" class="btn btn-success" value="Save & Finish" />
                <a href="@Url.Action("Index","Exhibitor")" class="btn btn-danger">Cancel</a>
                <br /><br />
            }
        </div>
        <div class="col-md-4"></div>
    </div>




    @*<fieldset>
            @Html.Partial("_PartialAboutInventory",Model.AboutInventoryVM)
        </fieldset>
        <fieldset>
            @Html.Partial("_PartialAboutRevenues",Model.AboutRevenuesVM)
        </fieldset>
        <fieldset>
            @Html.Partial("_PartialAboutTechnology",Model.AboutTechnologyVM)
        </fieldset>
        <fieldset>
          @Html.Partial("_PartialAboutLocalInsights",Model.AboutLocalInsightVM)
        </fieldset>
        <fieldset>
            @Html.Partial("_PartialAboutOtherThings",Model.AboutOtherThingsVM)
         </fieldset>*@
</div>

<script src="~/Content/Customer/scripts/jquery.easing.min.js"></script>
<script src="~/Content/Customer/scripts/jquery.min.js"></script>
<script src="~/Content/resources/screen1/js/Processing.js"></script>

