﻿@model SNS.Models.ExhibitorProfile4
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutOnBoarding.cshtml";
}
<link rel="stylesheet" href="~/Content/resources/screen1/styles/form_basic.css">
<link href="~/Content/Customer/scripts/reset.min.css" rel="stylesheet" />
<link href="~/Content/Customer/scripts/font-awesome.min.css" rel="stylesheet" />

<!-- progressbar -->

<div id="" style="color:white">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br /><br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <strong style="font-size:2em;">Technology</strong>
                <br /><br /><br />
                <h4>Screening System:</h4><br />
                <label>
                    Analogue
                    @Html.EditorFor(model => model.ScreeningSystemAnalogue, new
                    {
                        htmlAttributes = new { @type = "radio", @id = "radioAnalogue", @name = "AnalogueOrDigital", @class = "form-control" }
                    })
                </label>
                <label>
                    Digital
                    @Html.EditorFor(model => model.ScreeningSystemDigital, new
                    {
                        htmlAttributes = new { @type = "radio", @id = "radioDigital", @name = "AnalogueOrDigital", @class = "form-control" }
                    })
                </label>
                @Html.ValidationMessageFor(model => model.ScreeningSystemDigital, "", new { @class = "text-danger" })
                <br />
                <br />
                <h4>Are you interested in Digital?</h4>
                @*@Html.LabelFor(model => model.DigitalInterest)*@
                @Html.EditorFor(model => model.DigitalInterest, new { htmlAttributes = new { @id = "chkDigitalInterest", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DigitalInterest, "", new { @class = "text-danger" })
                <br />

                <h4>Reason for not interested in Digital?</h4>
                @Html.EditorFor(model => model.DigitalComments, new { htmlAttributes = new { @id = "txtDigitalComments", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DigitalComments, "", new { @class = "text-danger" })
                <br />

                <h4>What Digital Company are you interested in?</h4>
                @Html.EditorFor(model => model.DigitalCompany, new { htmlAttributes = new { @id = "txtDigitalCompany", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DigitalCompany, "", new { @class = "text-danger" })
                <br />

                <h4>Backend:</h4>
                @Html.DropDownListFor(model => model.BackEnd,
             new List<SelectListItem> {
new SelectListItem { Value = "Select" , Text = "Select" },
new SelectListItem { Value = "Internal" , Text = "Internal" },
new SelectListItem { Value = "External" , Text = "External" },
new SelectListItem { Value = "Cloud" , Text = "Cloud" }
             },
             new { @id = "chkBackend", @class = "form-control" })

                @Html.ValidationMessageFor(model => model.BackEnd, "", new { @class = "text-danger" })

                <br />

                <h4>Ticket Booking System:</h4>
                @Html.DropDownListFor(model => model.BookingSystem,
               new List<SelectListItem> {
new SelectListItem { Value = "Manual Chart" , Text = "Manual Chart" },
new SelectListItem { Value = "BMS" , Text = "BMS" },
new SelectListItem { Value = "In-house Digital" , Text = "In-house Digital" }
             },
             new { @id = "chkTicketBookingSystem", @class = "form-control" })

                @Html.ValidationMessageFor(model => model.BookingSystem, "", new { @class = "text-danger" })
                <br />

                <label>Payment Type</label>
                <br /><p>Cash Only @Html.EditorFor(model => model.PaymentTypeCashOnly, new { htmlAttributes = new { @class = "form-control" } })</p>
                <br /><p>Accept Card @Html.EditorFor(model => model.PaymentTypeAcceptcard, new { htmlAttributes = new { @class = "form-control" } })</p>
                <br /><p>Online @Html.EditorFor(model => model.PaymentTypeOnline, new { htmlAttributes = new { @class = "form-control" } })</p>

                <br />

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.USC)

                <a href="@Url.Action("Profile3",new { usc = @Html.DisplayFor(model => model.USC) })" class="btn btn-primary">Back</a>
                <input type="submit" name="next" class="btn btn-success" value="Save & Continue" />
                <a href="@Url.Action("Index","Exhibitor")" class="btn btn-danger">Cancel</a>
                <br /><br />
            }
        </div>
        <div class="col-md-4"></div>
    </div>



</div>
<script src="~/Content/Customer/scripts/jquery.easing.min.js"></script>
<script src="~/Content/Customer/scripts/jquery.min.js"></script>
<script src="~/Content/resources/screen1/js/Processing.js"></script>

<script>

    $('#radioAnalogue').change(function () {
        $("#radioDigital").prop('checked', false);
        $('#chkDigitalInterest').prop('checked', false);
        $('#chkDigitalInterest').prop('disabled', true);
        $('#txtDigitalComments').prop('disabled', false);
        $('#chkBackend').val("Select");
        $('#txtDigitalCompany').prop('disabled', true);
        $('#chkBackend').prop('disabled', true);
    });
    $('#radioDigital').change(function () {
        $("#radioAnalogue").prop('checked', false);
        $('#chkDigitalInterest').prop('disabled', false);
        $('#chkDigitalInterest').prop('checked', true);
        $('#txtDigitalComments').prop('disabled', true);
        $('#txtDigitalCompany').prop('disabled', false);
        $('#chkBackend').prop('disabled', false);
    });

</script>
