﻿@model SNS.ViewModels.CustomersVM

@using (Html.BeginForm("SaveCredentials", "Admin", FormMethod.Post))
{
    <hr />
    <div class="form-group">
        <input type="hidden" id="txtUSC" name="txtUSC" value="@Html.DisplayFor(i=>i.USC)" />
        <label for="usc">User Name:</label>
        <input type='text' id='txtUsername' name="txtUsername" placeholder="Enter Username" class="form-control" style="width:100%;">
    </div>
    <div class="form-group">
        <label for="usc">Password:</label>
        <input type='password' id='txtPassword' name="txtPassword" placeholder="Enter Password" class="form-control" style="width:100%;">
    </div>
    <div class="form-group">
        <label for="usc">Confirm-Password:</label>
        <input type='password' id='txtConfirmPassword' name="txtConfirmPassword" placeholder="Confirm Password" class="form-control" style="width:100%;">
    </div>
    <div class="form-group">
        <input type="submit" name="btnCreateLogin" id="btnCreateLogin" value="Create Login" class="btn button" />
    </div>

}

