﻿@model SNS.ViewModels.CustomersVM
<hr />
@using (Ajax.BeginForm("GenerateOTPnow", "Admin", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { role = "form" }))
{
    <div class="form-group">
        <input type="hidden" value="@Html.DisplayFor(i=>i.USC)" name="dbUSC" id="dbUSC" />
        <label for="usc">Email:</label>
        <input type='email' id='txtEmail' name="txtEmail" placeholder="Emaild ID" class="form-control" style="width:100%;">
        <input type="hidden" id="txtDbEmail" name="txtDbEmail" value="@Html.DisplayFor(model => model.Email)" />

    </div>
    <div class="form-group">
        <input type="submit" name="btnRequestOTP" id="btnRequestOTP" value="Request OTP" class="btn button" /><br />
    </div>
}

<div class="form-group">
    <input type="hidden" id="hiddenOTPValue" name="hiddenOTPValue" />
    <label for="usc">Code:</label>
    <input type='text' id='txtOTP' name="txtOTP" placeholder="OTP" class="form-control" style="width:100%;">
</div>
<div class="form-group">
    <input type="submit" name="btnVerifyOTP" id="btnVerifyOTP" value="Verify OTP" class="btn button" disabled /><br />
</div>
<i id="errMessage" class="text-danger"></i>

<div id="createLogin"></div>

<script>
    /*
    $('#btnRequestOTP').click(function () {
        var inputEml = $('#txtEmail').val();
        var dbEml = $('#txtDbEmail').val();
        $.ajax({
            url: '/Admin/GenerateOTPnow',
            type: 'POST',
            datatype: 'text',
            data: { inputEmail: inputEml, dbEmail: dbEml },
            success: function (data) {
                $('#btnVerifyOTP').prop('disabled', false);
                $('#createLogin').html("Create Login");
                $('#txtOTPHidden').val(data.response);
                debugger;
                alert($('txtOTPHidden').val());
            },
            error: function () {
                $('#createLogin').html("Error");
                //$('#otpVerification').html("Error!!");
            }
        });
    });
    */


    $("#btnVerifyOTP").click(function () {
        var iOTP = $('#txtOTP').val();
        var gOTP = $('#hiddenOTPValue').val();
        var dUSC = $('#dbUSC').val();

        $.ajax({
            url: '/Admin/VerifyOTPnow',
            type: 'POST',
            dataType: 'text',
            data: { inputOTP: iOTP, generatedOTP: gOTP, dbUSC: dUSC },
            success: function (data) {
                $('#createLogin').html(data);
            },
            error: function () {
                $("#createLogin").html("Unable to load data");
            }
        });
    });


    function OnSuccess(response) {
        $('#errMessage').html("Code sent!!");
        $('#hiddenOTPValue').val(response.data);
        $('#btnVerifyOTP').prop('disabled', false);
    }
    function OnFailure() {
        alert("Failure")
    }

    //function OnVerify(response) {
    //    $('#createLogin').html(data);
    //    debugger;
    //}

</script>
