﻿@model SNS.ViewModels.SalesAgentVM

@{
    ViewBag.Title = "ADD SALES AGENT";
}
<link rel="stylesheet" href="~/Content/resources/screen1/styles/salesAgent_registration.css">

<style>
    #divSalesAgent
    {
        background-color:white;
        padding:15px 5px 15px 25px;       
    }
   
</style>

<div class="row" id="divWrap" >
    <div class="col-md-4">
    </div>
    <div class="col-md-3" id="divSalesAgent">

        @*<form name="loginForm" method="POST" action="sampleController.htm?action=register" class="login">*@

        @using (Html.BeginForm("AddSalesAgent", "Admin", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <center><p>ADD SALES AGENT</p></center>
        <hr>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })

            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
                @*<input type="button" value="Cancel"  class="btn btn-danger text-center" />*@

                @Html.ActionLink("Cancel", "Cancel", "Admin", null, new { @class = "btn btn-danger text-center" })
            </div>
        </div>

}
        @*</form>*@
    </div>
    <div class="col-md-4">
    </div>
</div>






