﻿@model SNS.Models.Customers

@{
    ViewBag.Title = "USC Screen";
}

<html>
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/resources/screen1/styles/admin_login_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        body {
            background: #464646 !important;
            margin-left:5%;
        }
        .button {
            background-color: coral;
            color:white;
        }
        
    </style>
</head>
<body>
    <div class="row">
        <div class="col-xs-3">
            <img src="~/Contents/images/sns_logo_greybg.jpg" class="img-responsive" />
        </div>
        <div class="col-xs-3"> </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3"> </div>
    </div>
   
    <div class="row" >

        <div class="col-md-4"></div>
     
            <div class="col-md-4" >
                <div class="well-lg bg-light" style="border-style: solid; border-color: #e4cc69; background-color:">
                    <h3 class="text-center"style="color:coral;">User Screen Code (USC)</h3>
                    <div class="form-group">
                        <label for="usc">USC:</label>
                        <input type='text' id='searchUSC' name="searchUSC" placeholder="USC Code" class="form-control" style="width:100%;">
                    </div>
                    <div class="form-group">
                        <input  type="submit" value="Submit" id="btnUSCSubmit" class="btn button" />
                    </div>
                    <i id="errMessage" class="text-danger"></i>

                    <div id="otpVerification"></div>
                </div>
            </div>
       
        <div class="col-md-4"></div>
    </div>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">

        $('#btnUSCSubmit').click(function () {
            var inputUSC = $('#searchUSC').val();
            $.ajax({
                url: '/Admin/VerifyCustomer',
                type: 'POST',
                datatype: 'text',
                data: { usc: inputUSC },
                success: function (data) {
                    $('#otpVerification').html(data);
                },
                error: function () {
                    $('#otpVerification').html("Error!!");
                }
            });
        });
    </script>

</body>
</html>
