﻿@model SNS.ViewModels.ExhibitorProfile1VM
@{
    ViewBag.Title = "Exhibitor Header";

}
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seatsandshow</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/Customer/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Customer/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/Customer/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/Customer/css/faqstyle.css" type="text/css" media="all" />
    <link href="~/Content/Customer/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/Customer/css/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="~/Content/Customer/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/Content/Customer/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Customer/css/exhibitor.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
      <link rel="stylesheet" href="~/Content/Customer/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="~/Content/Customer/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/Content/Customer/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Content/Customer/js/owl.carousel.js"></script>
    <script src="~/Content/Customer/js/exhibitor.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/Customer/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/Customer/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <style>
        .topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #e85353;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover {
  color: #e8b253;
}

.active {
  color: #9b4545;
}

.topnav .icon {
  display: none;
}

@@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    /*float: right;*/
    display: block;
  }
}

@@media screen and (max-width: 1600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: inline;
    text-align: left;
  }
}
        .footer {
            width: 100%;
            background-color: #323232;
        }
    </style>
</head>

<body style="margin: 5%; margin-top : 2%;">
    <!-- header -->
    <div class="row container-fluid" style="margin:0;">
        <div class=" col-sm-4">

            <img src="~/Contents/images/sns_logo_small1.jpg" class="img-responsive" />

        </div>

        <div class="topnav" id="myTopnav" >
            <a href="@Url.Action("Index","User")" style="font-size:120%;">Logout</a>
            <input type="hidden" id="txtUSC" value="@TempData["USC"]" />
            <a href="@Url.Action("Profile1",new { usc = Request.QueryString["usc"] })" style="font-size:120%;">Profile</a>
            <a href="#success_stories" style="font-size:120%;">Success Stories</a>
            <a href="#available_films" style="font-size:120%;">Available Films</a>
            <a href="#news" style="font-size:120%;">News</a>
            <a href="gossip" style="font-size:120%;">Gossip</a>
            <a href="#support" style="font-size:120%;">Support</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </div>
    <!-- //header -->
    <!-- bootstrap-pop-up -->
    <!-- //bootstrap-pop-up -->
    <!-- nav -->
   
    <div class="modal video-modal fade" id="showProfile" tabindex="-1" role="dialog" aria-labelledby="uscNumber">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id='profileContent'></div>
            </div>
        </div>
    </div>




    <!--  <script>
          $('.toggle').click(function () {
              // Switches the Icon
              $(this).children('i').toggleClass('fa-pencil');
              // Switches the forms
              $('.form').animate({
                  height: "toggle",
                  'padding-top': 'toggle',
                  'padding-bottom': 'toggle',
                  opacity: "toggle"
              }, "slow");
          });
      </script>-->
    <!-- //nav -->
    <!-- banner -->
    <div>
        @RenderBody()
        @*<hr />*@
    </div>
    <!-- //Latest-tv-series -->
    <!-- footer -->
   
        <div class="footer">

            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3" style="padding-right:5%;">
                    @*<br /><br />*@
                    <img class="img img-responsive" alt=" " src="~/Contents/images/sns_logo_blackbg.jpg" /><br /><br /><br />

                </div>


                <div>
                    <div class="row">
                        <div class="col-sm-6 topnav" style="text-align:center; color:coral;">

                            <div class="topnav" id="myTopnav">
                                <a href="#success_stories" style="font-size:120%;">Success Stories</a>
                                <a href="#available_films" style="font-size:120%;">Available Films</a>
                                <a href="#news" style="font-size:120%;">News</a>
                                <a href="gossip" style="font-size:120%;">Gossip</a>
                                <a href="#support" style="font-size:120%;">Support</a>

                                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                            </div>
                        </div>

                        
                        <div class="col-sm-6" style="text-align:right; padding-right:5%;">
                            <span style="color:grey; font-size:80%; text-align: right; ">All rights reserved to Synaptein Solutions Inc.&nbsp;&nbsp;&nbsp;</span><br /><br /><br />
                        </div>
                    </div>



                </div>
            </div>
        </div>

    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Customer/js/bootstrap.min.js"></script>
   
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->

    <script>

        $("#btnProfile").click(function () {
            var inputUSC = $('#txtUSC').val();
            $.ajax({
                url: '/Exhibitor/LoadProfile',
                type: 'GET',
                dataType: 'text',
                data: { usc: inputUSC },
                success: function (data) {
                    $('#showProfile').modal({ keyboard: true }, 'show');
                    $('#profileContent').html(data);
                },
                error: function () {
                    $("#profileContent").html("ERROR");
                }
            });
        });

    </script>
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>




</body>
</html>